////
/// @group content-types
/// Unique Theming for Events
////

.event-title {
    margin-left: -.8em;
}

.event-title h3 span::before {
    content: "";
    right: -40em;
    left: 100%;
    margin-left: .4em;
    position: absolute;
    display: block;
    border-bottom: 1px solid $light-gray;
    bottom: 15px;
}

.event-title h3 span::after {
    color: $primary-color;
    margin-right: .5rem;
    content: "\f11e";
    font-weight: 400;
    font-family: "Flaticon";
}

.event-title h3 {
    display: inline-block;
    position: relative;
}

.section-events {
    display: inline-flex;
}

.date-block {
    text-align: center;

    &__month {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
        font-family: $sans-serif;
    }

    &__day {
        font-weight: 600;
        font-size: rem-calc(38);
        line-height: 0.8;
        color: $primary-color;
        font-family: $serif;
    }
}

// --- Event Feature
.block-views-blockevents-feed-block-1 {
    
    h2 {
      font-size: 1.625rem;  
    }
    
    .cell {
       /* &:nth-child(n+4) {
            @include breakpoint(medium up) {
                margin-top: rem-calc($spacing--medium);
            }
        } */
    }

    .cell {
        @include breakpoint(small down) {
            margin-bottom: rem-calc(30);
        }
    }
}

.event-item {
    h3 {
        margin-bottom: 0;
        font-weight: 300;
        font-family: $sans-serif;
    }
}

.event-item__content {
    display: flex;

    .date-block {
        @include flex-column(72px);
        padding-right: rem-calc(20);
    }

    &__inner {
        @include flex-column(calc(100% - 52px));
        padding-left: rem-calc(20);
        border-left: rem-calc(1) solid $medium-gray;
    }
}

// ---Events feed block

.block-views-block-events-feed-block-1 {
    
    .block-title {
        display: none;
    }

  /*  h2 {
        font-size: 1.625rem;



       &:after {
            content: '';
            position: absolute;
            height: 0.0625rem;
            width: 100%;
            bottom: initial;
            top: 20px;
            margin: auto;
            background-color: #e4e4e4;
        } 
    }

    .btn--heading {
        position: absolute;
        right: 1.3rem;
        top: -36px;
        margin: auto;
        height: 1.875rem;
        width: 1.875rem;
        padding: 0.3125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;

        &:after {
            content: fa-content($fa-var-angle-right);
            font-family: $font-awesome;
            color: #fff;
            font-size: 1.0625rem;
        } */
    }


    //styling for medium & smaller screens
    @include breakpoint(medium down) {
        h2 {
            font-size: 1.5rem;
        }

        .btn--heading {
            top: -28px;
        }


    }

