// Styles for menu blocks across the site
////
/// @group menus
/// Main menu styles.
////
/// All Breakpoints
/// ---------------
.main-menu {
    li,
    a,
    span {
        display: block;
    }

    a,
    span {
        color: $white;
        font-family: $sans-serif;
        font-size: rem-calc(18);
        font-weight: 600;
        line-height: 1.75em;

        &:hover {
            text-decoration: none;
        }

        &:after {
            display: none;
        }
    }

    .dropdown.menu > li.is-active > a,
    .dropdown.menu > li.is-active > span {
        color: $white;
    }

    .dropdown.menu > li.is-dropdown-submenu-parent > a::after,
    .dropdown.menu > li.is-dropdown-submenu-parent > span::after {
        display: none;
    }

    .menu-item--active-trail > a {
        // Always use the active trail color.
        text-decoration: underline;
    }

    ul ul.submenu {
        display: none;

        &.is-dropdown-submenu {
            border: none;
        }
    }
}

/// Condensed Main Menu
/// -----------------------
@mixin condensed-main-menu() {
    .main-menu {
        padding: rem-calc(0 30);
        background: $white;
        .menu-item--active-trail > a {
            // Always use the active trail color.
            text-decoration: underline;
        } /// All Levels
        /// ----------
        ul {
            width: 100%;
            li {
                width: 100%;
                cursor: pointer;
            }
        }

        > ul > li a,
        > ul > li span {
            display: block;
        }

        > ul > li + li a,
        > ul > li + li span {
            border-top: rem-calc(1) solid $medium-gray;
        }

        li.menu-item--open + li a:before,
        li.menu-item--open li:first-child a:before {
            display: none;
        }

        li > a,
        span {
            padding: rem-calc(14 0); //!important;
            text-align: left;
            font-size: rem-calc(15);
            position: relative;
            color: #222;
        }

        .dropdown.menu > li.is-active > a,
        .dropdown.menu > li.is-active > span {
            color: #000000;
        } /// Second Level
        /// ------------
        ul ul {
            a {
                background-color: $light-gray;
                font-size: rem-calc(16);
                padding: rem-calc(10 15);
                font-weight: 400;
                border-left: solid rem-calc(2) $secondary-color;
            }
        }
    }
}

// --------
/// Large Main Menu
/// -----------------
@mixin large-main-menu() {
    .main-menu {
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: -100vw;
            width: 250vw;
            top: 0;
            background: $primary-color;
        } /// All Levels
        /// ----------
        ul {
            display: flex;
            width: 100%;
        }

        li {
            &:hover {
                > a,
                > span {
                    background-color: #610000;
                }

                > ul {
                    display: block;
                }
            }
        }

        a,
        span {
            padding: rem-calc(13 20);
            text-align: center;
            background-color: $primary-color;
        } /// Second Level
        /// ------------
        ul {
            // Change the number here to include more right side dropdowns.
            > li:nth-last-child(-n + 1) > ul {
                right: 0;
            }

            ul {
                position: absolute;
                display: none;
                width: auto;
                min-width: 16rem;
                background-color: $dark-gray;
                padding: rem-calc(10 30);

                li:hover > a {
                    color: $secondary-color;
                    background: none;
                }

                li:not(:last-child) a {
                    border-bottom: rem-calc(1) solid rgba($light-gray, 0.14);
                    margin-bottom: rem-calc(5);
                }

                a {
                    padding: rem-calc(10 0);
                    text-align: left;
                    color: $white;
                    font-size: rem-calc(16);
                    font-weight: normal;
                    background: none;

                    &:focus {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

/// -----------
////
/// @group menus
/// Audience menu styles.
////
/// All Breakpoints
/// ---------------
.audience-menu {
    a,
    li,
    span {
        display: block;
    }

    a,
    span {
        font-family: $sans-serif;
    }

    span {
        cursor: default;
    }
}

/// Condensed Menu
/// -----------------------
@mixin condensed-audience() {
    .audience-menu {
        padding: rem-calc(0 30);
        background: $white;

        .menu-item--open ul {
            margin-bottom: rem-calc(20);
        } /// All Levels
        /// ----------
        a,
        span {
            padding: rem-calc(14 0);
            text-align: left;
            font-size: rem-calc(15);
            position: relative;
            font-weight: 600;
            color: #000;
            line-height: 1.75em;

            &:hover {
                text-decoration: none;
            }
        }

        li + li:not(.menu-item--open) a:before,
        span:after {
            content: "";
            background: $medium-gray;
            height: rem-calc(1);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
            margin: auto;
        } /// Second Level
        /// ------------
        ul li:not(.menu-item--open) ul {
            display: none;
        }
        ul ul {
            position: initial;
            border: 0px solid #fff !important;
            a {
                background-color: $light-gray !important;
                font-size: rem-calc(16);
                padding: rem-calc(10 15);
                font-weight: 400;
                border-left: solid rem-calc(2) $secondary-color;
            }
        }
    }
}

/// Large Audience Menu
/// -----------------------
@mixin large-audience() {
    .audience-menu {
        /// All Levels
        /// ----------
        &.accessible-menu .menu-item__button {
            left: auto;
            right: rem-calc(10);
            opacity: 1;
            //top: rem-calc(12);
            top: 0.5rem;
            bottom: auto; //padding: rem-calc(2);
            padding: 0.125rem;
            background-color: rgba(0, 0, 0, 0);
            &:before {
                font-family: $font-awesome;
                // content: fa-content($fa-var-angle-right);
                color: #fff;
                font-weight: 900;
                font-size: rem-calc(22);
            }
        }
        ul {
            display: flex;
            border: none;
        }

        > ul > li {
            width: rem-calc(175);
        }

        li {
            &.is-dropdown-submenu-parent {
                /* &:after {
                font-family: $font-awesome;
                content: fa-content($fa-var-angle-right);
                color: #fff;
                opacity: 1;
                position: absolute;
                left: auto;
                bottom: auto;
                right: .625rem;
                top: .4rem;
                padding: .125rem;
                font-size: 1.375rem;
                font-weight: 400;
            }
            
            &.is-active {
                &:after {
                    color: $secondary-color;
                    content: fa-content($fa-var-angle-down);
                    
                }
            }*/
            }

            &:hover,
            &:focus {
                background-color: $white;

                > a {
                    background-color: $white;
                    color: $black;
                }

                > ul {
                    display: block;
                }
            }
        }

        a,
        span {
            padding: rem-calc(10.5 18 15 18);

            font-size: rem-calc(16);

            &:hover {
                text-decoration: none;
                span:after {
                    content: "\f107";
                    color: #000;
                }
            }
        }

        &.accessible-menu > ul > li:hover,
        &.accessible-menu ul > li:focus {
            > ul {
                display: block;
            }
            .menu-item__button {
                z-index: 1;
                right: rem-calc(10);
                &:before {
                    font-family: $font-awesome;
                    //                    content: fa-content($fa-var-angle-down);
                    font-weight: 900;
                    color: $secondary-color;
                }
            }
        } /// Top Level
        // -----------
        > ul {
            max-height: rem-calc(46);
            &:hover,
            &:focus {
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
                > li > ul {
                    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
                }
                > li > span {
                    color: #000 !important;
                }
            }
        }
        > ul > li > span {
            font-weight: bold;
            display: flex;
            align-items: center;
            min-width: rem-calc(175);
            font-size: rem-calc(16);
            color: $white;
            position: relative;
            z-index: 2;
        } /// Second Level
        /// ------------
        ul ul li:not(:last-child) a {
            border-bottom: rem-calc(2) dashed $light-gray;
        }

        ul ul {
            z-index: 1;
            right: 0;
            display: none;
            min-width: rem-calc(175);
            background-color: $white;

            li {
                display: block;
                margin: 0;
                padding: rem-calc(0 18);
            }

            a {
                background-color: $white;
                color: $black;
                font-size: rem-calc(14);
                padding-left: 0;
                padding-right: 0;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

//Utility Menu
.utility-menu {
    a,
    li {
        display: block;
    }

    a {
        font-family: $sans-serif;
    }

    a[href*="my.iit.edu"] {
        display: flex; //@include fi('after');
        display: flex;
        align-items: center;

        &:after {
            font-family: $font-awesome;
            //content: fa-content($fa-var-external-link-alt);
            content: "\f08e";
            padding-left: rem-calc(6);
            font-size: rem-calc(13);
        }
    }
}

/// Condensed Utility Menu
/// ---------------------------
@mixin condensed-utility() {
    .utility-menu {
        background: $dark-gray;

        li + li a:before {
            content: "";
            background: $light-gray;
            height: rem-calc(1);
            width: calc(100% - 60px);
            position: absolute;
            top: 0;
            left: auto;
            right: auto;
            opacity: 0.5;
        }

        a {
            padding: rem-calc(14 30);
            text-align: left;
            font-size: rem-calc(15);
            position: relative;
            color: $white;
            font-weight: bold;

            &[href*="my.iit.edu"]:after {
                color: $secondary-color;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

/// Large Utility Menu
/// --------------------
@mixin large-utility() {
    .utility-menu {
        ul.menu {
            display: flex;
        }

        li {
            position: relative;
        }

        a {
            padding: 0 1em;
            line-height: 1;
            font-weight: bold;
            font-size: rem-calc(16);
            color: #fff;
            padding: rem-calc(10 15);
        }
    }
}

////
/// @group menus
/// Styles for the accessible menu JavaScript.
////
/// Styles for all sizes
/// ---------------------
.accessible-menu {
    li {
        position: relative;
    }

    .menu-item {
        & button {
            position: absolute;
            border: none;
            background-color: transparent;
        }

        &--expanded {
            > ul {
                display: block;
            }
        }
    }
}

.site-header .accessible-menu .menu-item--open > ul {
    display: block !important;
    position: initial;
}

/// -------
/// Condensed Menu
/// -------------------
@mixin condensed-accessible-menu() {
    .menu-item {
        &__button,
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: rem-calc(60);
            height: rem-calc(54);
            margin: 0;
            padding: 0.375em;
            color: transparent;
            background-color: transparent;
            font-size: 0;
            text-align: right;

            &:focus,
            &:hover {
                outline: none;
                background-color: transparent;
            }

            &:before {
                display: inline-block;
                width: 100%;
                color: $brand-red;
                font-family: $font-awesome;
                // content: fa-content($fa-var-angle-right);
                font-weight: 900;
                line-height: rem-calc(37);
                font-size: 1.5rem;
            }
        }

        &--open {
            > .menu-item button:before,
            > button:before {
                //content: fa-content($fa-var-angle-down);
                color: $brand-gray;
            }
        }
    }
}

// -------
/// Large Menu
/// -------------------
@mixin large-accessible-menu() {
    .accessible-menu .menu-item__button,
    .accessible-menu button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: rem-calc(20);
        height: rem-calc(20);
        padding: 0;
        transition: opacity $primary-transition;
        opacity: 0;
        font-size: 0;
        z-index: -1;

        &:before {
            width: 100%;
            // content: fa-content($fa-var-chevron-right);
            color: $white;
            font-family: $font-awesome;
            font-size: 16px;
            font-weight: 900;
        }

        &:focus {
            opacity: 1;
            z-index: 1;
        }

        &--expanded {
            > .menu-item button:before,
            > button:before {
                //   content: fa-content($fa-var-chevron-down);
                font-weight: 900;
            }
        }
    }
}

////
/// @group menus
/// Styles for landing page menu.
////
.section--landing-nav {
    background: $light-gray;
    @include paddings-top($spacing--medium, $spacing--default, $spacing--large);
    @include paddings-bottom($spacing--medium, $spacing--default, $spacing--large);
    h2 {
        @include font-sizes(20, 24, 24);
        @include breakpoint(small down) {
            @include show-for-sr;
        }
    }
    button {
        margin-bottom: 0;
        &:hover {
            background-color: $secondary-color;
        }
    }
    ul {
        @include breakpoint(medium up) {
            display: flex;
            flex-wrap: wrap;
            margin-left: rem-calc(-20);
            margin-right: rem-calc(-20);
        }
    }
    li {
        @include breakpoint(small down) {
            &:not(:last-child) {
                border-bottom: rem-calc(1) solid $light-gray;
            }
        }
        @include breakpoint(medium up) {
            margin-bottom: rem-calc(20);
            @include flex-column(33.33333%);
            display: flex;
            padding: rem-calc(0 20);
        }
    }
    ul {
        padding: 0;
        @include breakpoint(small down) {
            background: $white;
            padding: rem-calc(0 20);
        }
    }
    a {
        display: block;
        @include breakpoint(small down) {
            padding: rem-calc(10 0);
        }
        @include breakpoint(medium up) {
            @include btn;
            @include btn-light;
            background: #ffffff;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.landing-nav {
    @include breakpoint(medium up) {
        margin-bottom: rem-calc(-20);
    }
}

.landing-nav__links {
    @include breakpoint(small down) {
        display: none;
    }
}

.landing-nav-open .landing-nav__links {
    display: block;
}

////
/// @group menus
/// Sidebar menu styles.
////
/// All Breakpoints
/// ---------------
.sidebar-menu {
    font-family: $sans-serif;
    font-size: rem-calc(16);
    line-height: 1.3;
    margin-bottom: rem-calc(40);

    &__container {
        @include margins-top(20, 0, 0);
    }

    ul > li:not(:last-child) a {
        border-bottom: rem-calc(1) solid $medium-gray;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li li a {
        padding: rem-calc(10 30 10 20);
        background: $light-gray;
    }
    li a {
        position: relative;
        display: block;
        padding: rem-calc(13 30 13 0);
        transition: background-color $primary-transition;
        color: #fff;

        &:hover {
            color: $brand-red;
        }
    }

    &__toggle {
        display: none;
    }

    .li--level-one > .menu-item__button {
        height: rem-calc(48);
    }

    .menu-item {
        &__button {
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
            width: rem-calc(40);
            height: rem-calc(42);
            margin: 0;
            transform: none;
            opacity: 1;
            line-height: 1.6;
            font-size: 0;
            text-align: right;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &:focus {
                outline: none;
            }

            &:before {
                font-family: $font-awesome;
                // content: fa-content($fa-var-chevron-right);
                font-size: rem-calc(13);
                color: $brand-red;
                text-align: center;
                font-weight: 900;
            }
        }

        &--expanded > ul {
            display: none; // When JavaScript doesn't load for some reason, show all items.
            :root:not(.oho-js) & {
                display: block;
            }
        }

        &--active-trail {
            > ul {
                display: block;
            }
            > a {
                font-weight: 600;
                color: $brand-red;
            }
        }

        &--open {
            > .menu-item__button:before {
                color: $brand-gray;
                //                content: fa-content($fa-var-chevron-down);
            }
        }
    } /// Mobile
    /// ------
    @include breakpoint(small down) {
        border: 1px solid $light-gray;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

        &__toggle {
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            transition: color $primary-transition;
            color: $primary-color;
            border: 0;
            background: #fff;
            text-align: left;
            letter-spacing: 0;
            text-transform: none;
            color: #000;
            margin-bottom: 0 !important;
            padding-right: rem-calc(45);

            &:after {
                //                @include fa-icon();
                position: absolute;
                top: 50%;
                right: rem-calc(20);
                // content: fa-content($fa-var-chevron-down);
                transform: translateY(-50%);
                font-family: $font-awesome;
                font-size: rem-calc(13);
                font-weight: 900;

                .sidebar-menu-open & {
                    //                  content: fa-content($fa-var-chevron-up);
                }
            }

            &:hover {
                color: $primary-color;
                background: none;
            }
        }

        &__container {
            display: none;
            padding: rem-calc(0 20 10 20);
        }
    } /// Desktop
    /// -------
    @include breakpoint(medium) {
        &__container {
            // Override any inline style set by jQuery's animations.
            display: block !important; // stylelint-disable-line
        }
    }
}

/// Border Levels
/// -------------
// A mixin to create border padding selectors.
// Set depth to the maximum number of visible levels to avoid extra output.
@mixin border-levels($depth) {
    $selector: "";

    @for $i from 0 through $depth {
        & #{$selector} a {
            border-left-width: rem-calc(1) * $i;
        }
        $selector: append($selector, #{" li"}); // stylelint-disable-line
    }
}

.sidebar-menu--border-levels {
    li {
        @include border-levels(3);

        a {
            border: 0 solid $secondary-color;
        }
    }
}

/// Padding Levels
/// --------------
// A mixin to create padding selectors.
// Set depth to the maximum number of visible levels to avoid extra output.
@mixin padding-levels($depth) {
    $selector: "";

    @for $i from 0 through $depth {
        & #{$selector} a {
            padding-left: 1em + (1em * $i);
        }
        $selector: append($selector, #{" li"}); // stylelint-disable-line
    }
}

.sidebar-menu--padding-levels {
    li {
        @include padding-levels(3);
    }
}

/// UL Levels
/// ---------
.sidebar-menu--ul-levels {
    border: 0;

    ul {
        padding-left: 1em;
        border-left: 1px solid $primary-color;
    }

    a {
        padding-left: 0;
    }
}

// Browse Menu

#block-galvin-islandora-browse-2 {
    margin-top: 3rem;
    h2 {
        font-size: 2.125rem;
        margin-bottom: 0.25rem;
    }
    a {
        color: #fff;
        margin-right: 1rem;
        margin-bottom: 0;
        background-color: #fefefe;
        font-weight: 700;
        padding: 0.78125rem 2.1875rem;
        margin-top: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #0a0a0a;
        // &:before {
        //content: "\f061";
        //font-family: "Font Awesome 7 Free";
        //font-weight: 800;
        //-webkit-transition: padding-right 0.3s ease;
        //transition: padding-left 0.3s ease;
        //padding-right: 0.3125rem;
        //color: #cc0000;
        // }
        &:hover,
        &active {
            //color: $secondary-color;
            color: #fff;
            background-color: #c00;
        }
    }
}
