////
/// @group global
/// Styles for sections blocks.
////
section:not([class="clearfix"], .cell) {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
}

//overwrites above declaration with div-specific width for page title, adds padding//
#block-galvin-page-title,
#block-galvin2-page-title {
    width: 72.5rem;
    padding-top: 5rem;
    margin-bottom: 1.25rem;

    @include breakpoint(small down) {
        padding-top: 1.875rem;
        max-width: 100%;
    }
}


/// Individual Spacing Values in px
/// -------------------------
$spacing--xxsmall: 10;
$spacing--xsmall: 15;
$spacing--small: 20;
$spacing--medium: 30;
$spacing--default: 40;
$spacing--large: 50;
$spacing--xlarge: 60;
$spacing--xxlarge: 80;
$spacing--xxxlarge: 100;

/// Vertical Section Spacing
/// -------------------------
section:not(.block-page-title-block) {
    margin-bottom: 5em;

    /*  h2 {
            font-size: 1.875rem;
    line-height: 1.2;
    margin-bottom: 0.9375rem;
    font-family: "Roboto Slab",serif;
    font-weight: 400;
    letter-spacing: -0.03125rem;
    margin-bottom: 0;
} */
    header {
        width: 100%;

    }
}


.section--global-spacing--xxsmall,
%section--global-spacing--xxsmall,
.global-spacing--xxsmall,
%global-spacing--xxsmall {
    margin-bottom: rem-calc($spacing--xxsmall);
}

@mixin global-spacing--xsmall {
    @include margins-bottom($spacing--xxsmall, $spacing--xsmall, $spacing--small);
}

.section--global-spacing--xsmall,
%section--global-spacing--xsmall,
.global-spacing--xsmall,
%global-spacing--xsmall {
    @include global-spacing--xsmall;
}

.section--global-spacing--small,
%section--global-spacing--small,
.global-spacing--small,
%global-spacing--small {
    @include margins-bottom($spacing--small, $spacing--medium, $spacing--medium);
}

@mixin global-spacing--medium {
    @include margins-bottom($spacing--small, $spacing--medium, $spacing--default);
}

.section--global-spacing--medium,
%section--global-spacing--medium,
.global-spacing--medium,
%global-spacing--medium {
    @include global-spacing--medium;
}

@mixin global-spacing {
    @include margins-bottom($spacing--medium, $spacing--default, $spacing--xlarge);
}

.section--global-spacing,
%section--global-spacing,
.global-spacing,
%global-spacing {
    @include global-spacing;
}

@mixin global-spacing--large {
    @include margins-bottom($spacing--medium, $spacing--default, $spacing--xxlarge);
}

.section--global-spacing--large,
%section--global-spacing--large,
.global-spacing--large,
%global-spacing--large {
    @include global-spacing--large;
}

@mixin global-spacing--xlarge {
    @include margins-bottom($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
}

.section--global-spacing--xlarge,
%section--global-spacing--xlarge,
.global-spacing--xlarge,
%global-spacing--xlarge {
    @include global-spacing--xlarge;
}

// BLOCK GRID
section [class*='block-grid-'] > li {
    padding-bottom: 2.5rem;
}

.section--background {
    width: 100%;
    @include paddings-top($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
    @include paddings-bottom($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
    /*  background: $section-background;

  &--red {
    background: $section-background--red;
  }

  &--gray {
    background: $gray;
  }

  &--gray--light {
    background: $section-background--gray--light;
  }
  &--gray--dark {
    background: $dark-gray;
  } */
}

/// ----- Adjacent background sections need to blend together
/// spacing
.section--background.global-spacing--xlarge + .section--background,
.page--school .section--background:nth-child(2) {
    @include margins-top(-$spacing--large, -$spacing--xxlarge, -$spacing--xxxlarge);
}

.page--page.page--school-subsection .hero--img,
.page--page.page--school-subsection .hero--video {
    @include global-spacing--large;
}

.section--background.global-spacing--xlarge:not(.section--outcomes):last-child {
    margin-bottom: 0 !important;
}

/// spacing for heroes
.hero--video,
.hero--img {
    & + .section--background.global-spacing--xlarge {
        @include margins-top(0, -$spacing--xxlarge, -$spacing--xxxlarge);
    }
}

.hero--video,
.hero--img {
    & + div .listing__form {
        @include margins-top(0, 0, -$spacing--xxxlarge);
    }
}

.page--home {
    .parallax-mask > .global-spacing--large:first-child:not(.section--background) {
        @include paddings-top($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
    }
}

// --- Homepage Upper Content Spacing
.section--home-ctas,
.page--home .section--cards {
    .grid-container {
        @include breakpoint(large up) {
            @include column-indent;
        }
    }
}

.section--home-ctas {
    h2,
    .grid-x {
        max-width: rem-calc(830);
    }
}

.page--home .section--cards {
    @include global-spacing;
}

.listing__form--school + header {
    @include margins-top($spacing--small, $spacing--medium, $spacing--default);
}

.listing__form.listing__form--alpha {
    form {
        margin-bottom: 0;
    }
    .vaf {
        padding-bottom: rem-calc(1);
    }
    .active-filters.global-spacing--medium {
        @include margins-bottom($spacing--xxsmall, $spacing--xsmall, $spacing--small);
    }
}

/// This targets No Results heading
.listing--expert-media > .grid-container > h2:only-child,
.listing--directory-office > .grid-container > h2:only-child {
    @include margins-top($spacing--medium, $spacing--default, $spacing--xlarge);
}

/// Close space when its after a hero
.page--school .section--checkerboard:nth-child(2),
.section--checkerboard:first-child {
    @include breakpoint(small down) {
        margin-top: rem-calc(-$spacing--large);
    }
}
