//Styling for content in the right sidebar region

#sidebar_first {
    section {
        padding: 2.5rem;
        margin-bottom: 2.5rem;
        background-color: $light-gray;
        
        h2 {
            font-size: 1.25rem;
            margin-bottom: 20px;
        }
    }
}

.sidebar {
    float: left;
}