////
/// @group D8
/// Styles for OHO Alert.
////

.system-region {
    color: $white;
  z-index: 3;
  position: relative;
  a.btn {
    @include btn();
  }
}
.system-region .grid-margin-x {
  @include breakpoint(medium down) {
    padding-top: 55px;
  }
}
@include breakpoint(medium down){
 // .system-region .grid-margin-x > .cell:first-child {
   //  margin-left: 0px;
  //}
  //.system-region .grid-margin-x > .cell:last-child {
    //margin-left: 30px;
 //}
}

.system-region {
  padding: 1.5em;
  background-color: $dark-gray;
  
  .btn:not(button):before {
    content:'';
  }
  
  .fa {
    color: $secondary-color;
    font-size: 3.5em;

    @include breakpoint(medium down) {
      margin-top: 10px;
      font-size: 2.5em;
    }
  }

  .more-link a {
    display: inline-block;
    padding: 1.03125rem 1.25rem;
    transition: background 250ms ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #CC0000;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    font-size: 1rem;
  }
  h2, p {
    color: $white;
  }
}
