.section-contact-panel {
  background-color: $gray--light;
  position: relative;
  @include section-fade;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
  h2 {
    font-family: $sans-serif;
    font-weight: lighter;
    @include font-sizes(40,50,50);
    @include margins-bottom($spacing--small, $spacing--small, $spacing--medium);
  }
  h2, &__inner-add {
    color: $gray--dark;
  }
  &__inner-add {
    margin-bottom: rem-calc(5);
    display: block;
  }
  &__inner {
    padding-top: 64px;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;

    @include breakpoint(medium down) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__social-media {
        @extend %h5;
        font-family: $sans-serif;
        color: $gray--dark;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
      }
  }
  &__detail__item {
    font-size: rem-calc(16);
  }
  &__detail__item:first-child {
    margin-right: 25px;

    @include breakpoint(medium down) {
      color: $primary-color;
    }
  }
  &__detail__item.person-email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: baseline;
    @include breakpoint(small down) {
      display: block;
    }
  }
  .email a {
    color: $primary-color;
  }
  &__detail span i {
    padding-right: 5px;
    font-size: rem-calc(14);
  }
  &__inner-add span{
    color: $brand-gray;
  }

  &__detail i {
    color: $gray;
  }

  @include breakpoint(medium down){

    &__detail__item:last-child {
      display: block;
      margin-top: 10px;
    }
    &__detail {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .cell:first-child {
    @include margins-bottom($spacing--small, $spacing--small, $spacing--medium);
  }
  .medium-3 {
    @include breakpoint(large up) {
      text-align: right;
    }
  }
}

// ---- Office Detail
.section-contact-panel--office-detail {
  .medium-3 {
    text-align: left;
  }
  .cell {
    @include breakpoint(small down) {
      &:not(:last-child) {
        margin-bottom: rem-calc($spacing--default);
      }
    }
  }
}
.section-contact-panel__content-chunk {
  span {
    display: block;
  }
  &:not(:last-child) {
    margin-bottom: rem-calc($spacing--small);
  }
  .eyebrow {
    color: $gray;
    @include small-body();
    margin-bottom: rem-calc(5);
  }
}
.section-contact-panel__content-chunk--walk-in .eyebrow {
  text-transform: none;
}