////
/// @group components
/// Styles for the more-or-less.
////

.more-less {
  position: relative;
  max-height: rem-calc(570);

  &:after {
    position: absolute;
    z-index: 1;
    height: rem-calc(96);
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background: #fff;
  }

  &__toggle {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) !important;
  }

  .more-less-open & {
    max-height: 10000rem;
    padding-bottom: 5rem;

    &:after {
      background: rgba($white, 0);
    }
  }

  // When JavaScript doesn't load for some reason, show the all the content and
  // hide the button and overlay.
  :root:not(.oho-js) & {
    max-height: none;

    &:after,
    &__toggle {
      display: none;
    }
  }
}
