//UASC Search Block (Inlcudes /uasc title)

#block-uascsearch-2 {
    background-color: transparent;
    padding: 1.5rem 2rem;
    margin-bottom: 1em;
    overflow: visible;

    form {
        position: relative;
    }

    a.button {
        font-weight: 600;
        float: right;

        @include breakpoint(small down) {
            width: 100%;
        }
    }

    input[type="text"] {
        padding: .5rem 5rem .75rem 1.875rem;
        font-size: 1.875rem;
        color: $white;
        border: .125rem solid $white;
        transition: box-shadow .5s, border-color .25s ease-in-out;
        font-weight: 200;
        background-color: transparent;
        //    padding-top: 1.0625rem;
        // padding-bottom: .625rem;
        background-color: transparent;
        height: 60px;



        &::placeholder,
        &::-webkit-input-placeholder {
            font-size: 1.875rem;
            color: $white;
            line-height: normal;
        }

        &:focus {
            border-color: $secondary-color;
            box-shadow: none;
        }

        @include breakpoint(small down) {
            background-color: $white;
            padding: 1rem;
            font-size: 1rem;
            color: $black;

            &::placeholder,
            &::-webkit-input-placeholder {
                font-size: 1.875rem;
                color: $black;
                font-size: 1rem;
            }

        }
    }

    input.search-button {
        position: absolute;
        right: 2rem;
        border: 0;
        top: .75rem;
        height: 2rem;
        background-image: url(/themes/custom/galvin2/images/search.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(4000%);

        &:hover {
            cursor: pointer;
        }

        @include breakpoint(small down) {
            filter: none;

            h2 {
                margin-top: -17rem;
            }
        }
    }
}

#block-uascboxes-2 {
    margin-bottom: 1em;
    padding-top: 2em;

    h4,
    h5 {
        color: $secondary-color;
        margin-bottom: .75rem;
    }

    a {
        text-decoration: none;
        color: $white;
        transition: color .6s ease;


        &:before {
            color: $primary-color;
            font-size: 1.125rem;
            font-family: "Flaticon";
            content: $flaticon-long-arrow;
            padding-right: 0.625rem;
            transition: color 0.4s ease 0s;

        }

        &:hover {
            color: $secondary-color;
            text-decoration: underline;
        }

        &.phone {
            &:before {
                content: fa-content($fa-var-phone-alt);
                font-family: $font-awesome;
                font-size: 1em;
                font-weight: 900;
                color: $white;
                margin-right: 1em;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &.email {
            &:before {
                content: fa-content($fa-var-envelope);
                font-family: $font-awesome;
                font-size: 1em;
                font-weight: 900;
                color: $white;
                margin-right: 1em;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    //&:hover {
    //  color: $secondary-color;
    //}

    ul {
        list-style-type: none;
    }



    ///Mobile styling

    @include breakpoint(small down) {
        a {
            color: $black;

            &.phone {
                &:before {

                    color: $black;


                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.email {
                &:before {

                    color: $black;


                    &:hover {
                        text-decoration: none;
                    }
                }

            }

        }

    }
}

///UASC Menu

#block-universityarchivesandspecialcollections {

    margin-top: -5.5rem;
    margin-bottom: 5rem;

    ul {
        background-color: $light-gray;
        padding: 0;

        li {
            flex: 0 0 25%;
        }
    }

    ///Mobile Styling
    @include breakpoint(small down) {
        li {
            margin-bottom: 1em;
            border-bottom: none;
        }
    }
}


//UASC Front page 

body.section-uasc #block-galvin-content {
    ul {
        list-style-type: disc;

        li::marker {
            color: $secondary-color;
        }
    }

}


//UASC Today's Hours Block

.uasc-hours-block-content {
    display: none;
}

.block-galvin2-views-block-today-s-uasc-hours-block-3 {
    background-color: #fff;

    opacity: .75;
    color: #c00;
    padding-left: 2em;

    h5 {
        display: inline;
    }
}

.section-uasc {
    .hours-block-header {
        //display: none !important;
    }

    .uasc-hours-block-content {
        display: block;
        padding-top: 1em;

        .today h5 {
            margin-bottom: auto;
        }

        .open {
            color: #009900;
            font-weight: bold;

        }

        .closed {
            color: #c00;
            font-weight: bold;
        }

        #after6 {
            font-size: .85rem;
            display: inline-block;
            vertical-align: top;
        }
    }

}


//News and Perspectives Pages

body.node--type-uasc-blog-post {
    figure {
        max-width: 33.3%;
        margin-bottom: 1rem;

        &.align-left {
            margin-right: 1rem;
        }

        &.align-right {
            margin-left: 1rem;
        }
    }

}
