////
/// @group global
/// Styles relating primarily to type.
////

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

@mixin h1 {
  @include font-sizes(30,48,70);
  line-height: 1.1;
  @include margins-bottom(15,20,20);
  font-family: $serif;
  letter-spacing: rem-calc(-1);
  font-weight: 400;
}

h1, .h1, %h1 {
  @include h1;
}

@mixin h2 {
  @include font-sizes(30,30,48);
  line-height: 1.2;
  @include margins-bottom(15,20,20);
  font-family: $serif;
  font-weight: 400;
  letter-spacing: rem-calc(-.5);
}

h2, .h2, %h2 {
  @include h2;
}

@mixin h3 {
  @include font-sizes(20,24,26);
  line-height: 1.4;
  @include margins-bottom(15,20,20);
  font-family: $serif;
  font-weight: 400;
}

h3, .h3, %h3 {
  @include h3;
}

@mixin h4 {
  @include font-sizes(18,18,20);
  line-height: 1.4;
  @include margins-bottom(10,10,15);
  font-family: $serif;
  font-weight: 700;
}

h4, %h4, .h4 {
  @include h4;
}

@mixin h5 {
  @include font-sizes(17,17,18);
  line-height: 1.4;
  @include margins-bottom(10,10,15);
  font-family: $serif;
  font-weight: 700;
}

%h5, h5, .h5 {
  @include h5;
}

@mixin h6 {
  @include font-sizes(16,16,17);
  line-height: 1.4;
  @include margins-bottom(10,10,15);
  font-family: $sans-serif;
  font-weight: 700;
}

h6, .h6, %h6 {
  @include h6;
}

/// Text Elements
/// -------------
p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  max-width: none;
  margin: 0 auto;
  @include font-sizes(20,24,24);
  font-family: $serif-alternate;
  @include paddings-top(20,30,30);
  @include paddings-bottom(30,50,50);
  @include fi(before);

  @include breakpoint(medium up) {
    padding-left: rem-calc(65);
  }

  p:first-child {
    @include breakpoint(medium up) {
      margin-top: rem-calc(10);
    }
  }

  &:before {
    display: block;
    content: $flaticon-quote;
    color: $primary-color;
    line-height: 1;
    font-weight: 600;
    font-size: rem-calc(40);
    @include margins-bottom(20,0,0);
    @include breakpoint(medium up) {
      font-size: rem-calc(45);
      position: absolute;
      top: rem-calc(30);
      left: 0;
    }
  }
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 1.25em;
}

li {
  margin: 0;
  padding: 0;
}

/// Alignment Classes
/// -----------------
.text-left {
  text-align: left !important; // stylelint-disable-line
}

.text-right {
  text-align: right !important; // stylelint-disable-line
}

.text-center {
  text-align: center !important; // stylelint-disable-line
}

.text-justify {
  text-align: justify !important; // stylelint-disable-line
}

/// Margins
/// -------
p,
.intro-text,
ul,
ol,
.btn
 {
  margin-bottom: 0;
  &:not(:last-child) {
    @extend %global-spacing--xsmall;
  }
}

p .btn {
  @extend %global-spacing--xsmall;
}

/// @todo It feels like unsing top margins by default, rather than bottom
/// margins may make these rules more manageable. As it stands now, this
/// compiles into a crazy rule block.
p,
ul,
ol,
.intro-text,
table,
.section--accordions,
.btn,
figure {

  + h2,
  + .h2,
  + h3,
  + .h3,
  + h4,
  + .h4,
  + h5,
  + .h5,
  + h6,
  + .h6 {
    // values are not added to the margins-bottom - they overlap
    @include margins-top(20, 60, 60);
  }
}

.arrow-link,
%arrow-link {
 @include link-arrow;
}

@mixin eyebrow {
  font-size: rem-calc(18);
  letter-spacing: rem-calc(0.18);
  text-transform: uppercase;
  font-weight: 600;
  @include global-spacing--xsmall;
  font-family: $sans-serif;
  line-height: 1.3;
}

.eyebrow,
%eyebrow {
  @include eyebrow;
}

.intro-text,
%intro-text {
  @include font-sizes(18,20,22);
  line-height: 1.7;
}
