////
/// @group global
/// Base styles for common elements.
////
/// Elements Base Styles
/// --------------------
* {
    // stylelint-disable-line
    box-sizing: border-box;
}




/// @todo Is this still needed?
html {
    -webkit-text-size-adjust: 100%;




}


body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: $black;
    font-family: $sans-serif; //line-height: 1.4;
    line-height: 1.75;
    font-weight: 400;
    @include font-sizes(16, 17, 17);

    @include breakpoint(medium) {
        line-height: 1.75;
    }
}

ul {
    list-style-type: disc;
}

.page {
    overflow: hidden;
}

#main-content {
    @include breakpoint(medium up) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.main-content {
    width: 100%;
}

// IE 11 missing UA styles fix.
main {
    display: block;
}

button {
    cursor: pointer;
    font-size: 1rem;
    background-color: $brand-red;
}

figure {
    margin: rem-calc(0 0 40 0);

    &.align-right {
        margin-right: 1rem;
        max-width: 45%;
    }

    &.align-left {
        margin-left: 1rem;
        max-width: 45%;
    }
}

figcaption {
    margin-top: .5em;
    caption-side: bottom;
    color: $dark-gray;
    font-family: $sans-serif;
    @include font-sizes(14, 16, 16);
    color: #444444;
    letter-spacing: 0;
    line-height: 1.4;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;

    &.align-left {
        margin-right: 1rem;

    }

    &.align-right {
        margin-left: 1rem;

    }
}

/// Margin and padding resets
/// -------------------------
dl,
pre {
    margin: 0;
    padding: 0;
}

/// Helper Classes
/// -------
.clearfix {
    @include clearfix;
}

.show-for-sr,
.visually-hidden {
    @include show-for-sr;
}

.play {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: rem-calc(54);
    height: rem-calc(54);
    margin: auto;
    border: rem-calc(3) solid #fff;

    &__triangle {
        fill: #fff;
    }

    &__background {
        fill: $secondary-color;
        transition: fill .8s ease;
    }
}

a:hover .play__background,
a:focus .play__background {
    fill: $brand-red;
}

iframe {
    border: none;
    max-width: 100%;
}

.grid-x--align-bottom {
    align-items: flex-end;
}

.page--webform .main-content {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.full-wysiwyg.media-embed--video {
    min-width: 0;
}

// SCSS to counteract FOUC
.no-js {
    @include breakpoint(small only) {
        .top-bar {
            visibility: hidden;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            visibility: hidden;
        }
    }
}
