////
/// @group global
/// Styles for sections blocks.
/// Includes general block styling and specific rules for individual blocks
////

/*section:not(.grid-container, .section--program-detail-intro, .section--checkerboard, [class="clearfix"], .section--detail-page-image) {
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}*/

// Breadcrumbs block

#block-galvin-islandora-breadcrumbs {
    margin-top: 1.5rem;
}

/// Set width for media views

#block-mirador-block,
.block-views-block-media-display-blocks-source,
.block-views-block-media-display-blocks-pdfjs,
.block-views-block-media-display-blocks-source {
    width: 100%;
    max-width: 1000px;
}

#downloadButton {
    display: none !important;
}

/// QuickInfo Block -- GLobal Styling

#quickinfoblock {
    .contact {
        span {
            margin-right: 1em;
        }

        a {
            &.phone {
                &:before {
                    // content: fa-content($fa-var-phone-alt);
                    font-family: $font-awesome;
                    font-size: 1em;
                    font-weight: 900;
                    //color: $black;
                    margin-right: 0.5rem;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.email {
                &:before {
                    //content: fa-content($fa-var-envelope);
                    font-family: $font-awesome;
                    font-size: 1em;
                    font-weight: 900;
                    //color: $black;
                    margin-right: 0.5rem;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.chat {
                &:before {
                    //content: fa-content($fa-var-comment-dots);
                    font-family: $font-awesome;
                    font-size: 1em;
                    font-weight: 900;
                    //color: $black;
                    margin-right: 0.5rem;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.suggestion {
                &:before {
                    //content: fa-content($fa-var-lightbulb);
                    font-family: $font-awesome;
                    font-size: 1em;
                    font-weight: 900;
                    //color: $black;
                    margin-right: 0.5rem;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #quick-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 6em;

        a {
            margin-right: 1em;
            //display: flex;
            flex-direction: column;
            transition: color 0.6s ease;
        }
    }

    @include breakpoint(small down) {
        .contact {
            span {
                display: block;
            }
        }

        #quick-links {
            max-height: initial;
        }
    }
}

/// QuickInfo Block -- front page styling

body.path-frontpage {
    //hide on front page, show in primo search block
    #quickinfoblock,
    #block-galvin2-quickinfoblock-2 {
        display: none;
    }

    #block-primosearchblock {
        #quickinfoblock {
            display: block;

            h5.block-title {
                color: $secondary-color;
            }

            a {
                color: $white;
                font-weight: bold;

                &:hover {
                    color: $secondary-color;

                    &:before {
                        color: $secondary-color;
                    }
                }

                &.phone,
                &.chat,
                &.suggestion,
                &.email {
                    text-decoration: none;

                    &:before {
                        color: $white;
                        text-decoration: none;
                    }

                    @include breakpoint(small down) {
                        line-height: 3.25rem;
                    }
                }
            }

            #quick-links > a {
                &:before {
                    color: $primary-color;
                    font-size: 1.125rem;
                    font-family: "Flaticon";
                    content: $flaticon-long-arrow;
                    padding-right: 0.625rem;
                    transition: color 0.4s ease 0s;
                }
            }

            @include breakpoint(small down) {
                a {
                    color: $black;
                    font-weight: 400;

                    &.phone,
                    &.chat,
                    &.email,
                    &.suggestion {
                        &:before {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

///Info Blocks (Hours, Quick Links, Need Help)
///-----------------------------------------

#block-quicklinks,
#quickinfoblock {
    // background: #F4F4F4;
    //padding-right: 2.5rem;
    margin-bottom: 1em;
    ///max-height: 8rem;
    overflow-y: hidden;
    position: relative;

    h2 {
        font-size: 1.5rem;
        //background: $primary-color;
        //color: #fff;
    }

    p {
        margin: 0 0 0.75em 0;
        line-height: 1.2em;
    }

    .field-wrapper,
    p.contact {
        // border-top: 2px solid #c00;
        //padding-top: 1em;
    }

    div[id*="__primary"] {
        // position: absolute;
        //top: 3em;

        &:before {
            // content: fa-content($fa-var-angle-right);
            font-family: $font-awesome;
            font-size: 2em;
            font-weight: 900;
            position: absolute;
            right: 0;
        }
    }

    div[id*="__secondary"] {
        display: none;
        // position: absolute;
        //top: 7em;

        /*  &:after {
            // content: fa-content($fa-var-angle-right);
      font-family: $font-awesome;
      font-size: 2em;
            font-weight: 900;
            position: absolute;
            right: 0;
            top: 2em;
            display: block;
        }*/

        &.expanded {
            display: block;
        }
    }
}

// Admin tasks block

#block-galvin-islandora-primary-local-tasks {
    margin-top: 2em;
}

///Hours block

//Hidden, except on mobile devices

#block-galvin2-views-block-today-s-hours-block-1-2,
.hours-block-content {
    display: none;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;

    .today {
        margin-bottom: 0.625rem;

        h5 {
            margin-bottom: auto;
        }
    }

    .open {
        color: #009900;
        font-weight: bold;
    }

    .closed {
        color: #c00;
        font-weight: bold;
    }

    @include breakpoint(small down) {
        display: block;
    }
}

///Person block on staff pages
#block-views-block-staff-directory-block-1-2,
#block-galvin2-views-block-staff-directory-block-1-2 {
    padding-top: 5em;
}

///Subject Specialties Block
#block-views-block-subject-specialties-block-1 {
    margin-bottom: 0;

    h4 {
        font-weight: 400;
    }
}

/// Individual Spacing Values in px
/// -------------------------
$spacing--xxsmall: 10;
$spacing--xsmall: 15;
$spacing--small: 20;
$spacing--medium: 30;
$spacing--default: 40;
$spacing--large: 50;
$spacing--xlarge: 60;
$spacing--xxlarge: 80;
$spacing--xxxlarge: 100;

/// Vertical Section Spacing
/// -------------------------
.section--global-spacing--xxsmall,
%section--global-spacing--xxsmall,
.global-spacing--xxsmall,
%global-spacing--xxsmall {
    margin-bottom: rem-calc($spacing--xxsmall);
}

@mixin global-spacing--xsmall {
    @include margins-bottom($spacing--xxsmall, $spacing--xsmall, $spacing--small);
}

.section--global-spacing--xsmall,
%section--global-spacing--xsmall,
.global-spacing--xsmall,
%global-spacing--xsmall {
    @include global-spacing--xsmall;
}

.section--global-spacing--small,
%section--global-spacing--small,
.global-spacing--small,
%global-spacing--small {
    @include margins-bottom($spacing--small, $spacing--medium, $spacing--medium);
}

@mixin global-spacing--medium {
    @include margins-bottom($spacing--small, $spacing--medium, $spacing--default);
}

.section--global-spacing--medium,
%section--global-spacing--medium,
.global-spacing--medium,
%global-spacing--medium {
    @include global-spacing--medium;
}

@mixin global-spacing {
    @include margins-bottom($spacing--medium, $spacing--default, $spacing--xlarge);
}

.section--global-spacing,
%section--global-spacing,
.global-spacing,
%global-spacing {
    @include global-spacing;
}

@mixin global-spacing--large {
    @include margins-bottom($spacing--medium, $spacing--default, $spacing--xxlarge);
}

.section--global-spacing--large,
%section--global-spacing--large,
.global-spacing--large,
%global-spacing--large {
    @include global-spacing--large;
}

@mixin global-spacing--xlarge {
    @include margins-bottom($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
}

.section--global-spacing--xlarge,
%section--global-spacing--xlarge,
.global-spacing--xlarge,
%global-spacing--xlarge {
    @include global-spacing--xlarge;
}

// BLOCK GRID
section [class*="block-grid-"] > li {
    padding-bottom: 2.5rem;
}

.section--background {
    width: 100%;
    @include paddings-top($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
    @include paddings-bottom($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
    /* background: $section-background;

  &--red {
    background: $section-background--red;
  }

  &--gray {
    background: $gray;
  }

  &--gray--light {
    background: $section-background--gray--light;
  }
  &--gray--dark {
    background: $dark-gray;
  } */
}

/// ----- Adjacent background sections need to blend together

/// spacing
.section--background.global-spacing--xlarge + .section--background,
.page--school .section--background:nth-child(2) {
    @include margins-top(-$spacing--large, -$spacing--xxlarge, -$spacing--xxxlarge);
}

.page--page.page--school-subsection .hero--img,
.page--page.page--school-subsection .hero--video {
    @include global-spacing--large;
}

.section--background.global-spacing--xlarge:not(.section--outcomes):last-child {
    margin-bottom: 0 !important;
}

/// spacing for heroes
.hero--video,
.hero--img {
    & + .section--background.global-spacing--xlarge {
        @include margins-top(0, -$spacing--xxlarge, -$spacing--xxxlarge);
    }
}

.hero--video,
.hero--img {
    & + div .listing__form {
        @include margins-top(0, 0, -$spacing--xxxlarge);
    }
}

.page--home {
    .parallax-mask > .global-spacing--large:first-child:not(.section--background) {
        @include paddings-top($spacing--large, $spacing--xxlarge, $spacing--xxxlarge);
    }
}

// --- Homepage Upper Content Spacing
.section--home-ctas,
.page--home .section--cards {
    .grid-container {
        @include breakpoint(large up) {
            @include column-indent;
        }
    }
}

.section--home-ctas {
    h2,
    .grid-x {
        max-width: rem-calc(830);
    }
}

.page--home .section--cards {
    @include global-spacing;
}

.listing__form--school + header {
    @include margins-top($spacing--small, $spacing--medium, $spacing--default);
}

.listing__form.listing__form--alpha {
    form {
        margin-bottom: 0;
    }

    .vaf {
        padding-bottom: rem-calc(1);
    }

    .active-filters.global-spacing--medium {
        @include margins-bottom($spacing--xxsmall, $spacing--xsmall, $spacing--small);
    }
}

/// This targets No Results heading
.listing--expert-media > .grid-container > h2:only-child,
.listing--directory-office > .grid-container > h2:only-child {
    @include margins-top($spacing--medium, $spacing--default, $spacing--xlarge);
}

/// Close space when its after a hero
.page--school .section--checkerboard:nth-child(2),
.section--checkerboard:first-child {
    @include breakpoint(small down) {
        margin-top: rem-calc(-$spacing--large);
    }
}

//ETD message block
#block-galvin-islandora-thesesanddissertationsaccessmessage p {
    padding: 0.25em 0.5em;
    color: #bd0e2f;
    font-size: 1em;
    border: 1px solid #bd0e2f;
}

//OAI-PMH Links block

.block-galvin-islandora-views-block-oai-pmh-item-links-block-1 {
    width: 100%;
}

//Collection description blocks
.collection-description {
    margin-bottom: 2.5em;
}

//Media metadata block {
#block-galvin-islandora-views-block-media-metadata-source,
#block-views-block-media-metadata-source {
    width: 100%;
}

//Learn More block on front page
#block-galvin-islandora-learnmore {
    margin-top: 2rem;
    #learnmore-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-height: 4em;
    }
    a {
        color: #fff;
        font-weight: bold;
        &::before {
            color: #cc0000;
            font-size: 1.125rem;
            font-family: $font-awesome;
            content: "\f061";
            padding-right: 0.625rem;
            -webkit-transition: color 0.4s ease 0s;
            transition: color 0.4s ease 0s;
        }
        &:hover,
        &:active {
            color: #ff9900;
        }
    }
}
///ETD message block
.etd-message {
    padding: 0.25em 0.5em;
    width: 75%;
    color: #c00;
    margin: 1rem auto;
    font-size: 1em;
    border: 2px solid #c00;

    a {
        text-decoration: underline;
    }
}

///UASC Collection Browse block
#block-galvin-islandora-views-block-uasc-collections-block-1 {
    #uasc-browse {
        a {
            color: #fff;

            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
    }
    .views-col {
        padding: 1rem;
        .views-field-did-image {
            margin-bottom: 0.5rem;
        }
        .views-field-title {
            line-height: 1.25;
        }
    }
}
