////
/// @group wrapper
/// Header search styles.
////
/// All Styles & Mobile
/// -------------------

///This is all code to style the header bar search field, which I don't think we'll use on this site?

.header-search {
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: inset 0 0 2px #d8d8d8;
    padding-top: 2.5rem;

    .search-form-2 {
        max-width: 65.666%;
        position: relative;

        input.form-text {
            display: inline-block;
            height: 60px;
            background: #fff;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
            border: none;
        }

        .form-wrapper {
            position: absolute;
            right: 0.1875rem;
            bottom: 0.1875rem;
            margin-bottom: 0;

            input.button {
                background: #fff;
                height: 3.375rem;
                width: 2.5rem;
                font-size: 0;
                background-image: url(../images/enter.svg);
                background-size: 0.9375rem;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-transition: background-size 0.3s ease;
                transition: background-size 0.3s ease;

                &:hover {
                    background-color: #a30000;
                    color: #fefefe;
                }
            }
        }
    }

    #search-block-form {
        width: auto;
        min-width: rem-calc(300);
        padding: rem-calc(20 30);
        background-color: $white;
        display: flex;

        label {
            @include show-for-sr;
        }

        input {
            width: 100%;
            margin: 0;
            padding: rem-calc(10 30 10 0);
            border: none;
            border-bottom: rem-calc(2) solid $light-gray;
            box-shadow: none;
            color: $white;
            border-radius: 0; //remove apple-specifc border radius on input field
            -webkit-appearance: none;

            @include placeholder {
                color: $dark-gray;
                font-style: italic;
            }
        }

        .form-item {
            width: 100%;
            @include flex-column(calc(100% - 20px));
        }

        .form-actions {
            @include flex-column(rem-calc(20));
            border-bottom: rem-calc(2) solid $light-gray;
        }

        button {
            display: block;
            margin: 0;
            transition: color 250ms ease-in-out;
            background-color: transparent;
            padding: rem-calc(7 0 0 0);
            width: 100%;
            font-size: 0;

            &:form-submit {
                font-weight: 600;
            }

            &:after {
                //                content: fa-content($fa-var-search);
                content: "\f002";
                transition: color 250ms ease-in-out;
                color: $dark-gray;
                font-family: $font-awesome;
                font-size: rem-calc(20);
                font-weight: 600;
            }
        }
    }
}

/// Condensed Search
/// -----------------------
@mixin condensed-search() {
    .site-search {
        position: relative;
        order: -1;

        #search-block-form {
            position: relative;
            width: 100%;

            input {
                color: $dark-gray;
            }
        }

        &__toggle {
            display: none;
        }
    }
}

/// Large Search
/// -----------------------
@mixin large-search() {
    .site-search {
        order: 0;

        &__toggle {
            display: block;
            margin: 0;
            padding: 0.5em;
            transition: color 250ms ease-in-out;
            background-color: transparent;
            position: absolute;
            right: 0;
            bottom: 5px;
            cursor: pointer; //bottom: rem-calc(5);
            z-index: 2;

            &:before {
                font-family: $font-awesome !important;
                //              content: fa-content($fa-var-search);
                transition: color $primary-transition;
                content: "\f002";
                color: $white;
                font-size: 1.5em;
                font-weight: 600;
            } // &[aria-expanded="true"] {
            //   &:before {
            //     content: fa-content($fa-var-times);
            //}
            //}
            &:hover {
                background-color: transparent;

                &:before {
                    color: $secondary-color;
                }
            }
        }

        #search-block-form {
            position: absolute;
            z-index: 1;
            top: 100%;
            right: 0;
            display: none;
            background-color: $dark-gray; // Open, or when JavaScript doesn't load for some reason, open the search.
            &.search-panel-open {
                display: flex;

                + #search-toggle {
                    &:before {
                        //                    content: fa-content($fa-var-times);
                        content: "\f00d";
                    }
                }
            }

            input {
                //width: 20em;
                width: 100%;
                display: inline-block;
                margin: 0;
                padding: rem-calc(10 30 10 0);
                border: none;
                background: none;
                border-bottom: rem-calc(2) solid $light-gray;
                border-radius: 0;

                @include placeholder {
                    color: $light-gray;
                }
            }

            button {
                cursor: pointer;

                &:after {
                    color: $light-gray;
                }
            }
        }
    }

    ul#search_autocomplete {
        position: absolute;
        top: rem-calc(80);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    }

    #search_autocomplete li {
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
    }
}

///Hero Search

.hero {
    #search-form {
        position: relative;

        input#edit-search-textfield {
            font-size: 1.75rem;
            font-weight: 200;
        }
        input.success {
            width: 100%;
            display: inline-block;
            background-image: url(/themes/custom/galvin_islandora/images/search.svg);
            background-color: rgba(0, 0, 0, 0);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: contain;
            -webkit-filter: brightness(0);
            filter: brightness(5);
            //font-size: 2rem;
            right: 2rem;
            margin: 0;
            height: 10%;

            &:hover {
                filter: brightness(0);
            }
        }

        .form-actions {
            right: 0.75rem;
            top: 0.3rem;
            position: absolute;
            height: 3.5rem;
        }
    }
}
/// SEARCH RESULTS

.block-galvin-islandora-solrsearchcontentsearchresultspagerforpage,
.advanced_search_result_pager {
    width: 100%;

    .pager__item {
        list-style: none;
        .pager__link {
            padding: 5px;
        }
        .pager__link--is-active {
            background-color: #fff;
            background-size: 40px 40px;
            color: #000;
            font-weight: 600;
            border: 1px solid #ff9900;
            text-decoration: none;
            &:hover {
                background-color: #ff9900;
                color: #000000;
            }
        }
    }

    .form-select {
        color: #c00;
        border: 1px solid #c00;
    }
}

////
/// Search page and results styles
////

.search-results {
    .views-row {
        //display: flex;
        border-bottom: 0.0625em solid #f4f4f4;
        padding: 1.625rem 0;
        .views-field {
            &.views-field-did-image {
                //width: 15%;
                max-height: 220px;

                i {
                    font-size: 5rem;
                }
                img {
                    webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
                            max-height: 220px;
                
                }
            }
            &.views-field-field-resource-type,
            &.views-field-field-model {
                color: #c00;
                margin-bottom: 1.25rem;
            }

            flex-flow: row wrap;
            //padding: 0.5rem 0;
            //border-top: 0.0625em solid #f4f4f4;
            display: flex;

            .field__label {
                display: inline-block;
                flex-basis: 20%;
                font-weight: 600;
            }

            .field__item {
                flex-basis: 76%;
                display: block;
            }
        }
    }

    form {
        margin: 1.25rem auto 1.25rem auto;

        .js-form-type-textfield {
            display: inline;

            input {
                max-width: 65%;
                display: inline;
            }
        }

        .form-actions {
            display: inline-flex;
            height: 3.8rem;
        }
    }

    .search-results-item {
        h2 {
            font-size: 1.625rem;
            margin-bottom: 1.25rem;
            @extend %global-spacing--medium;
        }

        margin: 0;
    }
    .search-results-item:not(:first-child) {
        @include margins-top($spacing--small, $spacing--medium, $spacing--default);
        @include paddings-top($spacing--small, $spacing--medium, $spacing--default);
        border-top: 0.0625em solid $light-gray;
    }

    .search-results-item:last-of-type {
        @include margins-bottom($spacing--small, $spacing--medium, $spacing--default);
        @include paddings-bottom($spacing--small, $spacing--medium, $spacing--default);
    }
    .views-field-title a {
        color: $black;
        margin-bottom: none;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .path a {
        color: $primary-color;
    }
}

///Pagination
nav.pager {
    a {
        color: #c00;
        font-weight: 600;
    }
    .current a {
        background-color: #cc0000;
        background-size: 40px 40px;
        color: #ffffff;
        font-weight: 600;
    }
}

//FACETS

.block-facets {
    margin-bottom: 2em;
    padding-bottom: 1em;
    &:not(:last-of-type) {
        border-bottom: 1px solid #e5e5e5;
    }

    h2 {
        font-size: 1.17em;
        margin: 0.5em 0;
    }
    ul.item-list__links {
        margin-bottom: 0.5em;

        li.facet-item::marker {
            content: none;
        }
    }
    .facets-soft-limit-link {
        /*&:after {
            font-family: $font-awesome;
            content: "\f107";
            margin-left: 0.25em;
        }
        &.open {
            &:after {
                font-family: $font-awesome;
                content: "\f106";
            }
        }*/
    }
    .facets-widget-range_slider {
        max-width: 90%;
        ul {
            list-style-type: none;
        }
    }
    .facets-widget-range_nouislider {
        ul {
            padding-right: 1.25em;
            margin-bottom: 3em;
            list-style-type: none;
            li {
                .js-form-type-textfield {
                    max-width: 45%;
                    display: inline-block;
                    margin: 0 2%;
                }

                label {
                    display: block;
                }
                input {
                    //width: 50%;
                    display: inline;
                }
                .noUi-connect {
                    background-color: #c00;
                }
            }
        }
    }
}
