#block-primosearchblock {

    #ual-primo-search {

        // display: flex;
        //align-self: flex-end;
        .wrapper {

            background-color: rgba(0, 0, 0, 0);
            max-width: 72.5rem;
            margin-left: auto;
            margin-right: auto;
            padding: 1.5em 0em;


            h2 {
                color: $white;
                font-size: 3em;

            }



            .query-type {
                background-image: url(/themes/custom/galvin2/images/chevron-right.svg);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 1em;
                color: $dark-gray;
                font-size: 1rem;
                font-family: 'Source Sans Pro', sans-serif;
                height: 60px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
                min-width: 10rem;
                padding: .5em 2em .5em 1em;
            }

            #ual-primo-search-text {
                height: 60px;
                margin-bottom: 0;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
                transition: box-shadow .25s, border-color .7s ease;
                border: 0.125rem solid #ffffff;
                padding-left: 1.875rem;
                padding-top: 0.5rem;
                font-size: 1.875rem;
                color: #ffffff;
                background-color: transparent;
                font-weight: 300;

                &::placeholder,
                &::-webkit-input-placeholder {
                    font-size: 1.875rem;
                    color: $white;
                    padding: 0 0 0 0;
                    line-height: normal;
                }

                &:focus {
                    border-color: $secondary-color;
                }

                @include breakpoint(small down) {
                    background-color: $white;
                    padding: 1rem;
                    font-size: 1rem;

                    &::placeholder {
                        font-size: 1.875rem;
                        color: $black;
                        font-size: 1rem;
                    }

                }

            }

            .query-submit {
                background-image: url(/themes/custom/galvin2/images/search.svg);
                background-color: rgba(0, 0, 0, 0);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;
                filter: brightness(4000%);
                font-size: 2rem;
                right: 2rem;
            }

            .jsx-2020550710 {

                &:after {
                    font-family: $font-awesome;
                    fa-content: ($fa-var-angle-right);
                }
            }

            // Block-specific styling to override styles provided by js
            .other-search-col .button,
            button.jsx-2020550170 {
                background-color: $white;
                padding: .78125rem 2.1875rem;
                margin-top: 1rem;
                font-size: 1rem;
                text-decoration: none;
                color: $black;

                &:hover {
                    background-color: $primary-color;
                    color: $white;
                }

                @include breakpoint(small down) {
                    background-color: $primary-color;
                    color: $white;
                }

            }
        }

        h5 {
            color: $secondary-color;
        }

        a {
            font-weight: bold;
            color: $white;

            &:before {
                font-family: "Flaticon";
            }
        }

    }

    /// Mobile
    /// ------
    @include breakpoint(small down) {

        background-color: $light-gray;

        #ual-primo-search {



            .wrapper {

                max-width: 72.5rem;
                margin-left: auto;
                margin-right: auto;
                padding: 1.5em 2em;

                h2 {
                    // margin-top: -6.5em;
                    color: $black;
                }

                #ual-primo-search-text {
                    background: $white;
                    color: $black;
                }

                .query-submit {
                    filter: none;
                }
            }


            .jsx-2020550710.fields {
                flex-wrap: wrap;

                .jsx-2020550710.field {
                    width: 100%;
                    display: block;
                    margin-bottom: 1rem;

                    #ual-primo-search-type {
                        width: 100%;
                    }
                }
            }

            .other-search {
                flex-wrap: wrap;

                .other-search-col {
                    width: 100%;
                    margin-right: 0;

                    .button {
                        width: 100%;
                    }
                }
            }

        }
    }

}
