////
/// @group components
/// Styles for Profiles
////

.grid-container--profile-slider {
  position: relative;
}
.profile-item:not(:first-child):not(.profile-item--horizontal) {
  @include margins-top($spacing--small, $spacing--medium, $spacing--default);
}
.profile-item {

  color: $gray;
  h3 {
    margin-bottom: rem-calc(5);
    color: $text-color;
  }
  &__contact__item.location,
  &__contact__item.phone,
  &__contact__item.email {
    display: flex;
  }
  &__contact__item,
  &__contact__item li,
  &__contact__item .person-email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /// block display is required for ellipses
    align-items: baseline;
    font-size: rem-calc(16);
    margin-bottom: rem-calc(5);
    line-height: 1.4;
    i {
      margin-right: rem-calc(5);
      font-size: rem-calc(13);
    }
  }
  &--horizontal {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .profile-item__column {
      @include breakpoint(medium down) {
        margin-bottom: rem-calc(10);
      }
    }

    .profile-item__media {
      @include flex-column(100%);
      @include breakpoint(large up) {
        @include flex-column(20%);
      }
    }
    .profile-item__meta {
      @include flex-column(100%);
      @include breakpoint(large up) {
        @include flex-column(45%);
        padding-left: rem-calc(20);
      }
    }
    .profile-item__contact {
      @include breakpoint(large up) {
        flex: auto;
        width: auto;
        max-width: 100%;
        padding-left: rem-calc(20);
      }
    }
  }

  &-person--horizontal {
    @include paddings-top($spacing--small, $spacing--medium, $spacing--default);
    @include margins-bottom($spacing--medium, $spacing--default, $spacing--large);
    border-top: .0625em solid $gray--light;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .profile-item {
      &__column {
        @include flex-column(100%);
        @include breakpoint(medium down) {
          margin-bottom: rem-calc(10);
        }
      }

      &__media {
        img {
          box-shadow: $box-shadow-common;
        }
        @include breakpoint(large up) {
          @include flex-column(10%);
        }
      }

      &__meta {
        @include breakpoint(large up) {
          @include flex-column(55%);
          padding-left: rem-calc(40);

          &:nth-child(2) {
            margin-top: 10px;
          }
        }
      }

      &__contact {
        @include breakpoint(large up) {
          @include flex-column(35%);
          padding-left: rem-calc(84);
          margin-top: 15px;
        }
        &__item {
          i {
            margin-right: rem-calc(15);
          }
        }
      }
    }
  }

  &-office--horizontal {
    @include paddings-top($spacing--small, $spacing--medium, $spacing--default);
    @include global-spacing--medium;
    border-top: .0625em solid $gray--light;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .profile-item {

      &__contact {
        @include breakpoint(small down) {
          margin-bottom: rem-calc(10);
          @include flex-column(100%);
        }
      }

      &__meta {
        @include flex-column(100%);

        @include breakpoint(medium up) {
          @include flex-column(65%);
        }

        p {
          @include breakpoint(small down) {
            margin-bottom: rem-calc(10);
          }
        }
      }
    }
  }

  .person-email{
    color: $primary-color;
  }
  .location {
    color: $gray;
  }
  .listing-item__tags {
    display: inline-block;
    margin-right: 37px;
  }
}

.profile-item__contact {
  @include breakpoint(large up) {
    @include flex-column(35%);
    padding-left: rem-calc(84);
  }
  &__item {
    i {
      margin-right: rem-calc(15);
      min-width: rem-calc(14);
    }
  }
}


.section--profile-feature  {
    color: $white;

  .glide__arrow {
    @include margins-bottom(0, $spacing--medium, $spacing--default);
    @include breakpoint(medium up) {
      display: inline-block;
      position: relative;
      transform: none;
      background-color: $accent-yellow;
      color: $black;
      &:hover,
      &:focus {
        color: $brand-red;
        background: $white;
        outline: none;
      }
    }
    &.slick-disabled {
      @include breakpoint(medium up) {
        background-color: $gray--dark;
        color: $gray;
      }
    }
    &.glide__arrow--next {
      @include breakpoint(medium up) {
        margin-left: rem-calc(10);
      }
    }
  }
}
.card--profile {
  max-width: rem-calc(320);
  .card__content__inner {
    box-shadow: none;
  }
  .position {
    color: $text-color;
    font-size: rem-calc(16);
    &:before {
      content: fa-content($fa-var-chevron-right);
      font-family: $font-awesome;
      color: $accent-yellow;
      margin-right: rem-calc(5);
      font-size: rem-calc(13);
    }
    &:not(:last-child) {
      margin-bottom: rem-calc(5);
    }
  }
}

// ---- slick rules
.section--profile-feature {
  .slick-list,
  .slick-track {
    overflow: visible;
  }
  .slick-slide {
    padding-right: rem-calc(20);
    transition: opacity .6s ease;
    &.slick-active {
      opacity: 1;
    }
    &.slick-active ~ .slick-slide:not(.slick-active) {
      @include breakpoint(small up) {
        opacity: .2;
      }
    }
  }
}

.contact-card {
  @include breakpoint(small down) {
    display: flex;
    flex-direction: row-reverse;
  }
  h3 {
    @include h4;
    font-weight: normal;
  }
  .profile-item__contact__item.hours,
  .profile-item__contact__item.location {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
  }
  &__media {
    @include breakpoint(small down) {
      @include flex-column (20%);
    }
  }
  &__content {
    @include breakpoint(small down) {
      flex: auto;
      padding-right: rem-calc(20);
    }
  }
}

.media-card {
  color: #fff;
  font-size: rem-calc(16);
  @include breakpoint(small down) {
    display: flex;
    flex-wrap: wrap;
  }
  &:last-child {
    @include margins-top($spacing--small, $spacing--medium, $spacing--medium);
  }
  a {
    color: $white;
  }
  .tags {
    li {
      margin-bottom: rem-calc(10);
      display: flex;
      align-items: center;
    }
    li:before {
      color: $accent-yellow;
      font-size: rem-calc(17);
    }
  }
  &__inner {
    padding: rem-calc(15 20 20);
    @include breakpoint(small down) {
      @include flex-column(50%);
    }
    @include breakpoint(tiny down) {
      @include flex-column(100%);
    }
  }
  &__inner--upper {
    background: $black;
  }
  &__inner--lower {
    background: $dark-gray;
  }
  &__inner--lower__title-area {
    margin-bottom: rem-calc($spacing--xxsmall);
    h4 {
      margin: 0;
    }
  }
}

.profile-item__contact__item--multi {
  ul {
    padding-left: 0;
  }
  li {
    @extend %fi;
    &:before {
      margin-right: 0.9375rem;
      min-width: 0.875rem;
    }
  }
  &--website li:before {
    content: $flaticon-website;
  }
  &--phone li:before {
    content: $flaticon-phone;
  }
}

.grid-padding-x .detail-page--faculty__wysiwyg-column {
  @include breakpoint(medium up) {
    padding-right: rem-calc(30);
  }
}
.grid-padding-x .detail-page--faculty__sidebar-column {
  @include breakpoint(medium up) {
    padding-left: rem-calc(30);
    border-left: rem-calc(1) solid $medium-gray;
  }
}

.location p {
  margin: 0;
}