///
/// @group content-types
/// Partial for programs

/// program Item
.program-large-list.listing-item {
  @include small-body;
  max-width: none;
  .grid-x {
    align-items: flex-start;
  }
  h3 {
    margin-top: rem-calc(15);
    font-size: rem-calc(16);
  }
  .cell:not(:first-child) {
    margin-top: rem-calc(15);
    @include breakpoint(medium up) {
      margin-top: 0;
    }
  }
  .college-school {
    font-weight: bold;
  }
  // .online {
  //   display: block;
  //   @include breakpoint(medium up) {
  //     display: flex;
  //     flex-direction: row-reverse;
  //     align-items: center;
  //     @include eyebrow;
  //   }
  //   &:after {
  //     font-family: $font-awesome;
  //     content: fa-content($fa-var-check);
  //     color: $brand-red;
  //     font-size: rem-calc(12);
  //     font-weight: 600;
  //     padding-left: rem-calc(5);
  //     @include breakpoint(medium up) {
  //       font-size: rem-calc(20);
  //       padding-left: 0;
  //       padding-right: rem-calc(10);
  //     }
  //   }
  // }
  .program-listing-attributes {
    list-style-type: none;
    padding:0;
    margin-top: rem-calc(20);
    @include breakpoint(medium up) {
      display: flex;
      gap: rem-calc(32);
    }
    .program-attribute {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: rem-calc(5);
      span {
        margin: 0;
        font-weight: 600;
      }
      .tooltip {
        font-weight: 400;
      }
      &::before {
        font-family: $font-awesome;
        content: fa-content($fa-var-check);
        color: $brand-red;
        font-size: rem-calc(14);
        font-weight: bold;
        padding-right: rem-calc(8);
      }
    }
  }
}
.listing-programs {
  .grid-margin-x > .medium-1 {
    @include breakpoint(medium up) {
      width: calc(6.33333% - 2.5rem);
    }
  }
  .grid-margin-x > .medium-2 {
    @include breakpoint(medium up) {
      width: calc(17.66667% - 2.5rem);
    }
  }
  .grid-padding-x > .medium-1 {
    @include breakpoint(medium up) {
      width: 6.33333%;
    }
  }
  .grid-padding-x > .medium-2 {
    @include breakpoint(medium up) {
      width: 17.66667%;
    }
  }
}
/// program header
.program-header {
  background: $brand-red;
  height: rem-calc(80);
  padding: rem-calc(10 0);
  align-items: center;
  @include small-body;
  display: none;
  @include breakpoint(medium up) {
    display: flex;
  }
  .grid-x {
    color: $white;
    font-weight: 600;
    width: 100%;
  }
  .cell {
    display: flex;
    align-items: center;
  }
  .grid-container {
    width: 100%;
    &:not(.full) > .grid-padding-x {
      margin: 0;
    }
  }
}

/// College program
.listing--college-majors .search-tabs {
  @include margins-bottom(0, $spacing--medium, $spacing--medium);
  justify-content: space-between;
  flex-wrap: wrap;
  .form-radios {
    @include breakpoint(small down) {
      padding-top: 0;
    }
  }
  .btn {
    display: flex;
    align-items: center;
    @include breakpoint(small down) {
      width: 100%;
      @include flex-column(100%);
      margin-top: rem-calc(30);
      text-align: center;
      display: block;
    }
  }
}

.tooltip-link {
  @include fi(after);
  color: $text-color;
  transition: color .6s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:after {
    content: $flaticon-information;
    margin-left: rem-calc(5);
    color: $accent-yellow;
  }
  &:hover,
  &:focus {
    color: $brand-red;
    text-decoration: none;
  }
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 12.5px 0 12.5px;
  border-color: $gray transparent transparent transparent;
  position: absolute;
  left: 50%;
  transform: translateY(-99%);
  bottom: 0;
}
.tooltip {
  max-width: rem-calc(250)
}
.tooltip-inner {
  padding: rem-calc(10);
  background: $gray;
  color: $white;
  margin-bottom: rem-calc(22);
}

// detail page card
.program-detail__meta {
  padding: rem-calc(20);
  background: $light-gray;
  display: block;

  span {
    font-weight: normal;

    span {
      margin-right: 0;
    }
  }
  @include breakpoint(medium up) {
    padding: rem-calc(40);
  }

  .arrow-link {
    margin: 0;
  }

  &__item {
    position: relative;
    .eyebrow {
      @include small-body;
      color: $gray;
      margin-bottom: 0;
      font-weight: 400;
    }

    &:not(:last-child) {
      @include paddings-bottom(12,20,20);
      @include margins-bottom(12,20,20);
    }

    &:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: rem-calc(30);
      height: rem-calc(1);
      background: $accent-yellow;
    }
  }
}

.program-detail-sidebar .btn {
  width: 100%;
  display: block;
  &:not(:last-child) {
    margin-bottom: rem-calc(10);
  }
}

/// ------ Large List specifics
.home-tab-panel label {
  @include show-for-sr;
}

.search-tabs.search-tabs--programs {
  @include breakpoint(small down) {
    .form-radios {
      padding-top: 0;
      padding-left: rem-calc(20);
      padding-bottom: rem-calc(20);
      margin-bottom: rem-calc(30);
      width: 100%;
    }
  }
  &.search-tabs--programs--home {
    @include breakpoint(small down) {
      width: 100%;
      .form-radios {
        padding-left: 0;
      }
    }
  }
}
.program-large-list.listing-item {
  span {
    font-weight: normal;
    margin-right: rem-calc(10);
    font-family: $sans-serif;
    font-size: rem-calc(16);
    margin-bottom: 0;
  }
  h3 {
    @include breakpoint(small down) {
      margin-top: 0;
    }
  }
  .compare-checkbox-item {
    label,
    [type='radio'] + label,
    [type='checkbox'] + label {
      @include fi(after);
      @include fi(before);
      padding-left: rem-calc(10);
      margin-left: rem-calc(19);
      @include breakpoint(medium up) {
        margin-top: rem-calc($spacing--medium);
      }

      &:before {
        content: $flaticon-plus;
        font-size: rem-calc(11);
        padding: rem-calc(3 4 4);
        background-color: $brand-gray;
        border: none;
        color: $white;
        @include breakpoint(medium up) {
          font-weight: bold;
          left: rem-calc(-19);
        }
      }
      &:hover:before,
      &:focus::before {
        background: $accent-yellow;
      }
    }
    [type='radio']:checked + label,
    [type='checkbox']:checked + label {
      &:before {
        color: transparent;
        background-color: $primary-color;
      }
      &:after {
        left: rem-calc(-9);
        @include breakpoint(medium up) {
          left: rem-calc(-13);
        }
      }
    }
  }
  .college-school {
    span {
      display: block;
    }
    a {
      font-size: rem-calc(16);
      font-weight: 600;
    }
    span:not(:last-child):after {
      content: ",";
      padding-right: rem-calc(5);
    }
  }
}

/// Active program compare
#sticky-program-compare {
  border-top: 3px solid rgba(118, 119, 123, .2);
  @include paddings-top(20,40,40);
  @include paddings-bottom(0,20,20);
  background: $light-gray;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: transform 1s ease;
  @include breakpoint(small down) {
    transform: translateY(calc(100% - 10px));
  }
  .sticky-program-button {
    position: absolute;
    left: 0;
    top: 0;
    padding: rem-calc(10 20);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-gray;
    transform: translateY(-100%);
    text-transform: uppercase;
    @extend %eyebrow;
    color: $text-color;
    font-size: rem-calc(15);

    &:before {
      font-family: $font-awesome;
      content: fa-content($fa-var-angle-up);
      font-size: rem-calc(18);
      margin-right: rem-calc(10);
    }
    @include breakpoint(medium up) {
      display: none;
    }
  }
  &.sticky-program-compare--active  {
    transform: none;
    .sticky-program-button {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
  &:after {
    display: none;
  }
  .vaf {
    display: flex;
    width: 100%;
    max-width: rem-calc(1160);
    padding: rem-calc(0 20);
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    @include breakpoint(medium up) {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(medium up) {
      flex-wrap: nowrap;
    }
  }
  li {
    display: inline-flex;
    align-items: center;
    text-align: left;
    margin-bottom: rem-calc($spacing--small);
    font-weight: 500;
    line-height: 1.4;
    @include breakpoint(small down) {
      padding: 0;
      color: $dark-gray;
      background: none;
      border: none;
      width: 100%;
      justify-content: space-between;
      margin-right: rem-calc(0);
      font-weight: bold;
    }
    &:after {
      font-size: rem-calc(30);
      font-weight: 200;
      @include breakpoint(small down) {
        color: $dark-gray;
      }
      @include breakpoint(medium up) {
        padding-left: rem-calc(30);
      }
    }
  }
  // select a program to compare
  li:not(.vaf__item) {
    @include breakpoint(small down) {
      font-style: italic;
      font-weight: normal;
    }
    @include breakpoint(medium up) {
      background: $dark-gray;
      color: $white;
      font-weight: 500;
      border-color: black;
      span {
        padding-right: rem-calc(30);
      }
    }
    &:after {
      display: none;
      @include breakpoint(medium up) {
        display: block;
        color: $white;
        transform: rotate(45deg);
        padding: 0;
      }
    }
  }
  button {
    margin-left: 0;
  }
}

#program-compare-modal {
  width: 100%;
  padding: 0;
  background: none;
  box-shadow: none;
  max-width: rem-calc(1160);
  padding-top: rem-calc(50);
  @include breakpoint(medium up) {
    padding-top: rem-calc(100);
  }
  .grid-margin-x > .cell {
    @include breakpoint(small down) {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .fancybox-slide {
    padding: 0;
  }
  .fancybox-button {
    right: rem-calc(10);
    top: 0;
    padding: 0;
    @include breakpoint(medium up) {
      width: rem-calc(81);
      top: rem-calc(20);
    }
    &:hover {
      background: none;
    }
    svg {
      height: auto;
      width: 100%;
      path {
        fill: $accent-yellow;
      }
    }
  }
  .program-detail__meta__item:not(:last-child) {
    padding-bottom: rem-calc(12);
    margin-bottom: rem-calc(12);
    &:after {
      max-width: rem-calc(60);
    }
  }
  .card {
    .h5 {
      margin-bottom: 0;
    }
  }
  .card .card__content__inner {
    padding: rem-calc(30);
    @include small-body;
    @include breakpoint(small down) {
      padding: rem-calc(15);
    }
  }
  h3 {
    line-height: 1.2;
  }
  .card__content__inner__lower {
    @include margins-top(15,30,30);
    border: none;
  }
}

.accordion__button.program-compare-card-info-toggle {
  padding: 0;
  background: none;
  text-transform: none;
  color: $text-color;
  font-family: $sans-serif;
  color: $brand-red;
  font-size: rem-calc(18);
  width: calc(100% + 24px);
  &:hover,
  &:focus {
    color: $brand-red;
    outline: none;
    border: none;
  }
  &:after {
    content: fa-content($fa-var-plus);
    font-weight: 200;
    font-family: $font-awesome;
    padding-left: rem-calc(10);
    width: 24px;
  }
}
.accordion--open .accordion__button.program-compare-card-info-toggle {
  border: none;
  &:after  {
    content: fa-content($fa-var-times);
  }
}
.accordion__content.accordion__content--program-compare {
  padding: 0;
  border: none;
  margin-top: rem-calc(12);
}

/// ------ HOME HERO PROGRAM FORM
.hero--home .listing-programs {
  .listing__form {
    @include breakpoint(medium up) {
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      background: none;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: rem-calc(261);
        height: rem-calc(1);
        background: $brand-gray;
        width: calc(100% - 355px);
      }
    }
    .fake-form {
      .search-tabs {
        .ui-tabs-active .program-list-tab {
          @include breakpoint(medium up) {
            @include btn;
            text-transform: none;
            background: $brand-red;
            color: $white;
          }
        }
        li:not(.ui-tabs-active) .program-list-tab:not(:hover):not(:focus) {
          @include breakpoint(medium up) {
            background: transparent;
            color: $white;
          }
        }
      }
      @include breakpoint(small down) {
        display: flex;
        flex-direction: column;
        .search-tabs {
          order: 1;
        }
        .form-item-online,
        .form-item-ol {
          order: 3;
        }
        .cell {
          order: 2;
        }
        .form-item-search label {
          @include show-for-sr;
        }
        .form-item-program-level {
          margin-bottom: rem-calc(5);
        }
      }
    }
    fieldset,
    .fake-fieldset {
      width: 100%;
    }
    .form-item-online .btn,
    .form-item-ol .btn {
      @include breakpoint(medium up) {
        @include btn-light;
        text-transform: none;
        color: $text-color;
        &:hover,
        &:focus {
          color: $white;
        }
      }
    }
    .cell {
      @include global-spacing--xsmall;
    }
    .grid-container {
      @include breakpoint(medium up) {
        padding: 0;
      }
    }
    .listing__form__submit-container {
      input[type='text'] {
        @include placeholder() {
          color: $text-color;
          line-height: 1.3;
        }
        @include breakpoint(medium up) {
          border: rem-calc(2) solid $white;
          padding-left: rem-calc(30);
          padding-top: rem-calc(8);
          color: $white;
          @include placeholder() {
            color: $white;
          }
          &:focus {
            border-color: $accent-yellow;
          }
        }
      }
      .form-actions {
        @include breakpoint(medium up) {
          top: rem-calc(17);
          right: rem-calc(30);
        }
      }
      input[type='submit'] {
        @include breakpoint(medium up) {
          filter: brightness(4000%);
          width: rem-calc(31);
          height: rem-calc(31);
          margin-top: rem-calc(-4);
        }
      }
    }
  }
  .search-tabs {
    .form-radios,
    .ui-tabs-nav {
      @include breakpoint(medium up) {
        background: none;
        border: rem-calc(1) solid $brand-gray;
      }
    }
    .form-item-program-level {
      @include breakpoint(medium up) {
        label:not(:hover) {
          background: none;
          color: $white;
        }
        input:checked + label {
          background: $brand-red;
        }
      }
    }
  }
  .listing-programs--home__ideas {
    h2 {
      font-size: rem-calc(24);
      @include breakpoint(medium up) {
        font-size: 22px;
        color: $accent-yellow;
        font-weight: bold;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        @include flex-column(50%);
        @include breakpoint(medium up) {
          @include flex-column(33%);
        }
        &:not(:last-child) {
          margin-bottom: rem-calc(10);
        }
      }
      a {
        @include small-body;
        @include fi(':before');
        display: flex;
        align-items: center;
        transition: color .6s ease;
        color: $text-color;
        @include breakpoint(medium up) {
          color: $white;
          font-weight: bold;
        }
        &:before {
          content: $flaticon-long-arrow;
          color: $brand-red;
          font-size: rem-calc(18);
          padding-right: rem-calc(10);
          transition: color .4s ease;
        }
        &:hover,
        &:focus {
          color: $accent-yellow;
          &:before {
            color: $accent-yellow;
          }
        }
      }
    }
  }
}

.listing-programs--home__ideas {
  margin-top: rem-calc(20);
}

.program-large-list.listing-item .inlnine-spans span {
  display: inline-flex;
  &:not(:last-child):before {
    content: ",";
    order: 3;
  }
  &.tool-tip-container span:before {
    display: none;
  }
  span {
    margin-right: 0;
  }
}

.page--school-subsection .listing--college-majors .listing__form.listing__form--programs {
  padding-bottom: rem-calc(20);
  @include breakpoint(medium up) {
    padding: 0;
  }
  .search-tabs {
    margin: 0;
  }
}

.section--program-detail-intro .program-detail__meta {
  .program-detail__meta__item__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  span {
    display: block;
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: rem-calc(5);
    }
  }
  span span {
    margin-bottom: 0;
    display: inline;
  }
  .stem-info-link {
    line-height: 1.25;
    font-size: rem-calc(12);
  }
  .program-modality-list {
    span {
      @include h4;
      font-weight: 400;
      margin-bottom: 0 !important;
    }
  }
}

.program-modality-list {
  padding:0;
}