////
/// @group components
/// Styles for hero images.
////
$hero-content-width: rem-calc(930);
$hero-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0.75) 56%);
$hero-background-fallback: $white;

// Hero Text Stlyes
$title-font: $serif;
$subtitle-font: $sans-serif;

/*
GLOBAL HERO STYLES
-------------------
*/

.parallax-mask {
    position: relative;
    z-index: 3;
    background: $white;
    @include clearfix();
}

.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    background: #000;

    @include breakpoint(medium up) {
        //height: 72vh;
        height: 125vh;
        max-height: none;
        min-height: 600px;
    }

    @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        width: 100%;
        background: $hero-background-fallback;
        max-height: calc(100vh - 250px);
    }

    .breadcrumbs,
    .eyebrow {
        @include breakpoint(medium) {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
        }
    }

    .eyebrow {
        display: inline-flex;
        align-items: center;

        &:after {
            padding-left: rem-calc(7);
            font-size: rem-calc(13);
            color: $secondary-color;
            font-family: $font-awesome;
            content: fa-content($fa-var-chevron-right);
            line-height: 1.2;
        }

        @include breakpoint(medium) {
            color: #fff;
        }
    }
}

.hero__media {
    display: block;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 2px #d8d8d8;
    background-color: $light-gray;

    img {
        display: block;
        width: 100%;
        max-width: none;
        height: auto;
        object-fit: cover;
        object-position: 50% 50%;
    }

    @include breakpoint(small down) {
        //min-height: calc(100vh - 74px);
        min-height: 500px;
    }
}

.hero__content {
    z-index: 3;
    padding: rem-calc(20 20 0);
    @include grid-row;
    width: 100%;

    @include breakpoint(medium) {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        align-items: flex-start;
    }

    .grid-container {
        width: 100%;
    }

    @include breakpoint(small down) {
        display: flex;
        flex-direction: column-reverse;
        background-color: #f4f4f4;
    }

    &__inner-intro-title {
        // @extend %h4;
        color: $primary-color;
        display: inline-block;
        position: relative;
    }

    &__inner-intro-title::after {
        content: "";
        right: -26.8em;
        left: 100%;
        margin-left: .4em;
        position: absolute;
        display: block;
        border-bottom: 1px solid #d8d8d8;
        bottom: 12px;
    }

    h1,
    h2,
    p {
        @include breakpoint(medium) {
            color: $white;
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
        }
    }

    h1,
    h2 {
        font-family: $title-font;
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: rem-calc($spacing--small);
        }
    }

    p {
        //@extend %intro-text;
        max-width: $hero-content-width;
        font-family: $subtitle-font;
    }

    .button {
        background-color: $white;
        padding: .78125rem 2.1875rem;
        margin-top: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: $black;

        &:hover {
            background-color: $primary-color;
            color: $white;
        }

        @include breakpoint(small down) {
            background-color: $primary-color;
            color: $white;
        }

    }



    @include breakpoint(medium) {
        position: absolute;
        color: $white;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.hero__overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $hero-overlay;
    opacity: 0.94;
    display: block;


    @include breakpoint(small down) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18%, rgba (0, 0, 0, 0.75) 56%);
        opacity: .94;
    }
}

/* 
FRONT PAGE HERO
*/

body.path-frontpage {
    .hero__media {

        background-image: url(/themes/custom/galvin2/images/Galvin_018.JPG);
        background-position: 0% 20%;
        background-size: cover;


        @include breakpoint(small down) {
            background-position: 60% 20%;
        }
    }
}


/* UASC PAGE HERO */

body.section-uasc {

    .hero {
        h2 {
            font-size: 2.45rem;
            margin-bottom: 3rem;

            @include breakpoint(small down) {
                //margin-top: -15.5rem;
                margin-bottom: 1rem;
                color: $black;
            }
        }

        .hero__media {
            // background-image: url(/themes/custom/galvin/images/uasc-stacks.jpg);
            background-image: url(/themes/custom/galvin2/images/MainBldgFront.jpg);
            background-position: center 95%;
            background-size: cover;
        }
    }
}

/*
BASIC HERO With Image *Most Common* (No masking) -- Most effective with Title, and Image only
------------------------
*/

.hero--no-img {
    background: $hero-background-fallback;
    @include paddings-top(30, 40, 80);
    @include paddings-bottom(30, 40, 80);
    margin-bottom: 0;
    height: auto;
    max-height: none;

    .breadcrumbs,
    .eyebrow {
        text-shadow: none;
    }

    .eyebrow {
        color: $brand-red;
    }

    .hero__content {
        padding: 0;
        position: relative;
        max-width: none;
        width: 100%;
        @include grid-row();
        padding: rem-calc(0 20);

        h1,
        h2,
        p {
            color: $black;
            text-align: left;
            width: 100%;
            max-width: rem-calc(930);
            margin-left: 0;
            margin-right: 0;
            text-shadow: none;
        }
    }
}

/*
HERO VIDEO IMAGE WITH PARALLAX
------------------------
*/

.hero--video {
    img {
        @include breakpoint(medium) {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: center;

        }
    }

    .video-feature,
    video {
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;

        @include breakpoint(small down) {
            display: none;
        }
    }
}

.hero .hero__positions {
    color: $black;
    @extend %global-spacing--xxsmall;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }

    ul > li {
        margin-bottom: rem-calc(5);

        &:before {
            border-radius: 0;
            content: fa-content($fa-var-square);
            font-weight: 600;
            font-family: $font-awesome;
            font-size: 7px !important;
            margin-right: rem-calc(15);
            width: auto;

            @include breakpoint(small down) {
                margin-right: rem-calc(7);
            }
        }

        &:not(:last-child) {
            margin-right: rem-calc(15);
        }

        &:first-child:before {
            display: none;
        }
    }
}

.detail-page--faculty .hero__positions ul {
    @include breakpoint(small down) {
        display: block;
    }

    li {
        @include breakpoint(small down) {
            display: flex;

            &:before {
                margin-top: rem-calc(10);
            }
        }
    }

    li:first-child:before {
        @include breakpoint(small down) {
            display: inline;
        }
    }
}

/// ------- COLLEGES HERO
// --- when a hero comes before the college intro hero intro
.page--school-subsection {

    .hero--no-img {
        padding-top: 0;
    }
}

.hero--colleges {
    z-index: 11; // for the sticky menu
    max-height: rem-calc(380);
    overflow: visible !important;

    @include breakpoint(medium down) {
        max-height: none;
        display: block;
    }

    .hero__content {
        padding-left: 0;
        padding-right: 0;

        @include breakpoint(medium down) {
            background-color: $medium-gray;
            padding-bottom: rem-calc(20);
            position: relative;
        }
    }
}

.page--school .hero--colleges {
    max-height: none;

    @include breakpoint(large up) {
        //max-height: 72vh;
        max-height: 125vh;
    }

    .hero__overlay {
        @include breakpoint(medium down) {
            display: none;
        }
    }
}

.page--school .hero--no-img {
    padding: 0;
}

.hero--img,
.hero--video {
    .hero__content {
        @include breakpoint(medium up) {
            padding-bottom: rem-calc($spacing--large);
            display: flex;
            align-self: flex-end;
        }

        p a {
            @include breakpoint(medium up) {
                color: #fff;
                text-decoration: underline;
            }

            &:hover {
                @include breakpoint(medium up) {
                    text-decoration: none;
                }
            }
        }
    }
}

.hero {

    video,
    img {
        position: fixed;
        top: 0;
        min-width: 100vw;
        min-height: 100vh;
        object-fit: cover;

        @include breakpoint(medium up) {
            min-height: 100vh;
        }
    }

    .hero__content {
        @include breakpoint(medium up) {
            @include column-indent;
        }

        @include breakpoint(small down) {
            position: relative; //margin-top: calc(100vh - 74px);
            padding-top: calc(100vh - 74px);
            z-index: 3;
            padding: 0;
        }

        .hero__content__inner {
            @include breakpoint(medium up) {
                max-width: rem-calc(930);
                width: 100%;
            }
        }

        h1,
        h2 {
            color: $white;
            @include global-spacing--xlarge;

            @include breakpoint(small down) {
                //margin-top: rem-calc(-136);
                padding: rem-calc(0 20 20);
                color: $black;
            }
        }
    }

}
