////
/// @group components
/// Styles for tags lists.
////

.tags,
.full-wysiwyg .tags {

  > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $sans-serif;

    /// tags come in separate types and are printed in adajacent ULs
    &:not(:last-child) {
      margin-right: rem-calc(15);
    }
  }

  > ul > li {
    display: inline-flex;
    line-height: 1.3;
    align-items: center;
    @include small-body();
    @extend %fi !optional;
    &:before {
        //font-family: $font-awesome;
      //content: fa-content($fa-var-bookmark);
        font-weight: 900;
        font-family: "Flaticon";
        content: $flaticon-tag;
      padding-right: rem-calc(5);
      font-size: rem-calc(12);
      color: $dark-gray;
      margin-top: rem-calc(4);
        
       
    }
      
       a {
            color: $primary-color;
        }

    &:not(:last-child) {
      margin-right: rem-calc(15);
    }
  }
    
    
}

.tags {
  section + & {
    margin-top: 2rem;
    padding-top: 2rem;
    background-image: linear-gradient(to right, $dark-gray 0, $dark-gray 4em, transparent 4em); // stylelint-disable-line
    background-repeat: no-repeat;
    background-size: 100% .0625em;
  }
}

.news .tags 

.field-item {
    display: inline;
    &:not(:last-child){
        margin-right: .9375rem;
    }
    a {
     &:before {
        font-family: $font-awesome;
      content: fa-content($fa-var-bookmark);
        font-weight: 900;
      padding-right: rem-calc(5);
      font-size: rem-calc(12);
      color: $dark-gray;
      margin-top: rem-calc(4);
    }
    }
}
