<div class='cell initial-12 large-6'>
  <article class='itm-small-list-item'>
    <h3 class='external-link h5'>
      <a href="{{ content.field_itn_article_link }}" target="_blank" aria-label="{{ 'opens in new window'|t }}">{{ node.label }}</a>
    </h3>
    <span class="listing-item__media-subtitle eyebrow listing-item__meta">
      {{ content.field_itn_source }}
    </span>
  </article>
</div>
