////
/// @group D8
/// Styles for OHO Alert.
////

.oho-alert {
  z-index: 3;
  position: relative;
  a {
    @include btn();
  }
}
.oho-alert .grid-margin-x {
  @include breakpoint(medium down) {
    padding-top: 55px;
  }
}
@include breakpoint(medium down){
  .oho-alert .grid-margin-x > .cell:first-child {
     margin-left: 0px;
  }
  .oho-alert .grid-margin-x > .cell:last-child {
    margin-left: 30px;
 }
}

.oho-alert {
  padding: 1.5em;
  background-color: $gray--dark;
  
  .btn:not(button):before {
    content:'';
  }
  
  .fa {
    color: $accent-yellow;
    font-size: 3.5em;

    @include breakpoint(medium down) {
      margin-top: 10px;
      font-size: 2.5em;
    }
  }

  a {
    color: $white;
  }
  h2, p {
    color: $white;
  }
}
