////
/// @group D8
/// Pagination styles for Drupal 8.
////

/// Base Styles
/// -----------
.page-number a,
#cludo-search-results .cludo-page-navigation a {
  color: $black;
}
.pager,
#cludo-search-results .cludo-page-navigation {
  margin-top: 4rem;
  font-family: $sans-serif;
  font-size: 15px;;
  font-weight:bold;

  &__items,
  ul.search_page_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item,
  ul.search_page_list li {
    padding: 0;
    margin: 0 0 0 15px;
    width: auto;
  }

  a,
  ul.search_page_list li a,
  ul.search_page_list li.active {
    display: flex;
    //padding: 0 .5em;
    transition: color $primary-transition;
    min-height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;

    &:hover {
      text-decoration: none;
      color: $primary-color--dark;
    }
  }

  // Cludo adds generic prev/next classes we use for sliders
  ul.search_page_list li {
    all: unset;
  }

  .is-active a,
  ul.search_page_list li.active {
    background-color: $primary-color;
    background-size: 40px 40px;
    color: $white;
    font-weight: 600;
  }

  // Hide the aria-hidden text from view.
  [aria-hidden='true'] {
    display: none;
  }

  /// Icon Pagers
  /// -----------
  [class*='pager__item--'] a,
  .next a,
  .prev a {

    &:before {
      @include font-awesome;
    }
  }

  &__item,
   {
    &--first,
    &--prev,
    &--next,
    &--last {
      a {
        min-height: rem-calc(30);
      }
    }
    &--first a:before {
      justify-content: left;
      position: relative;
      content: fa-content($fa-var-chevron-double-left);
      color: $brand-gray;
    }
    &--first {
      margin-right: -1em;
      margin-left: 0;
      border-right: 1px solid $gray--light;
      justify-content: left;
    }

    &--last {
      border-left: 1px solid $gray--light;
      margin-left: 0px;
      justify-content: right;
    }
    
    &--previous a:before {
      content: fa-content($fa-var-chevron-left);
    }

    &--next a:before {
      content: fa-content($fa-var-chevron-right);
    }

    &--last a:before {
      content: fa-content($fa-var-chevron-double-right);
      color: $brand-gray;
    }
  }

  /// Mobile
  /// ------
  /// Hide page numbers and the ellipsis on mobile.
  @include breakpoint(tiny down) {

    &__item:not([class*='pager__item--']):not(.is-active),
    &__item--ellipsis {
      display: none;
    }
  }

}

.powered-by-cludo {
  display: none !important;
}
