////
/// @group D8
/// System message styles for Drupal 8.
////
.system-messages {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: 20px;
}
.messages {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid;
  border-radius: .25em;
  line-height: 1.4;
  font-size: rem-calc(14);
  background-color: #ffffff;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li + li {
    margin-top: 10px;
  }

  a {
    text-decoration: underline;
    color: inherit;
    font-weight: 700;
  }

  &--status {
    color: $message-success;
    border-color: lighten($message-success, 20%);
    background: lighten($message-success, 40%);
  }

  &--error {
    color: $message-alert;
    border-color: lighten($message-alert, 20%);
    background: lighten($message-alert, 40%);
  }

  /// Alert Active
  /// ------------
  .has-alert & {
    position: relative;
  }
}
