////
/// @group menus
/// Audience menu styles.
////

/// All Breakpoints
/// ---------------
.audience-menu {
  a,
  li,
  span {
    display: block;
  }

  a,
  span {
    font-family: $sans-serif;
  }

  span {
    cursor: default;
  }
}

/// Condensed Menu
/// -----------------------
@mixin condensed-audience() {
  .audience-menu {
    padding: rem-calc(0 30);
    background: $white;

    .menu-item--open ul {
      margin-bottom: rem-calc(20);
    }

    /// All Levels
    /// ----------
    a,
    span {
      padding: rem-calc(14 0);
      text-align: left;
      font-size: rem-calc(15);
      position: relative;
      font-weight: 600;
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }

    li + li:not(.menu-item--open) a:before,
    span:after {
      content: "";
      background: $medium-gray;
      height: rem-calc(1);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: .5;
      margin: auto;
    }

    /// Second Level
    /// ------------
    ul li:not(.menu-item--open) ul {
      display: none;
    }
    ul ul {
      a {
        background-color: $light-gray;
        font-size: rem-calc(16);
        padding: rem-calc(10 15);
        font-weight: 400;
        border-left: solid rem-calc(2) $accent-yellow;
      }
    }
  }
}

/// Large Audience Menu
/// -----------------------
@mixin large-audience() {
  .audience-menu {
    /// All Levels
    /// ----------
    &.accessible-menu .menu-item__button {
      left: auto;
      right: rem-calc(10);
      opacity: 1;
      top: rem-calc(12);
      bottom: auto;
      padding: rem-calc(2);
      &:before {
        content: "\f105";
        font-size: rem-calc(22);
        font-weight: 400;
      }
    }
    ul {
      display: flex;
    }

    > ul > li {
      width: rem-calc(175);
    }

    li {

      &:hover,
      &:focus {

        background-color: $white;

        > a {
          background-color: $white;
          color: $black;
        }

        > ul {
          display: block;
        }
      }
    }

    a,
    span {
      padding: rem-calc(15 18 15 18);
      line-height: 1;
      font-size: rem-calc(16);

      &:hover {
        text-decoration: none;
        span:after {
          content: "\f107";
          color: $text-color;
        }
      }
    }

    &.accessible-menu > ul > li:hover,
    &.accessible-menu ul > li:focus {
      > ul {
        display: block;
      }
      .menu-item__button {
        z-index: 1;
        right: rem-calc(10);
        &:before {
          content: "\f107";
          color: $accent-yellow;
        }
      }
    }

    /// Top Level
    // -----------
    > ul {
      max-height: rem-calc(46);
      &:hover,
      &:focus {
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.22);
        > li > ul {
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
        }
        > li > span {
          color: $text-color !important;
        }
      }
    }
    > ul > li > span {
      font-weight: bold;
      display: flex;
      align-items: center;
      min-width: rem-calc(175);
      font-size: rem-calc(16);
      color: $white;
      position: relative;
      z-index: 2;
    }

    /// Second Level
    /// ------------
    ul ul li:not(:last-child) a {
      border-bottom: rem-calc(2) dashed $light-gray;
    }

    ul ul {
      z-index: 1;
      right: 0;
      display: none;
      min-width: rem-calc(175);
      background-color: $white;

      li {
        display: block;
        margin: 0;
        padding: rem-calc(0 18);
      }

      a {
        background-color: $white;
        color: $black;
        font-size: rem-calc(14);
        padding-left: 0;
        padding-right: 0;

        &:hover {
          color: $link-color;
        }
      }
    }
  }
}
