////
/// @group menus
/// Init Global Header Navigation.
////

/// * The mobile menu and sticky menu are the same. Mixins are written within each partial and called here *
/// --------------------------------------------------------------------------------------------------------

/// Apply Menu Styles
/// -------------

/// MOBILE

// Header is unique in that we have rules for the sticky container itself all other menus' rules are below the sticky__container
.site-header__sticky-container {
  @include breakpoint(medium down) {
    @include condensed-header;
  }
}

@include breakpoint(medium down) {
  @include condensed-main-menu;
  @include condensed-audience;
  @include condensed-accessible-menu;
  @include condensed-utility;
  @include condensed-search;
}

/// DESKTOP (Apply only at large sizes and not when sticky)
.site-header__sticky-container:not(.sticky-header) {
  @include breakpoint(large) {
    @include large-header;
    @include large-main-menu;
    @include large-audience;
    @include large-accessible-menu;
    @include large-utility;
    @include large-search;
  }
}

/// Sticky
.page:not(.page--school-subsection) .sticky-header {
  @include breakpoint(large) {
    @include condensed-header;
    @include condensed-main-menu;
    @include condensed-audience;
    @include condensed-accessible-menu;
    @include condensed-utility;
    @include condensed-search;
  }
}

/// School page needs special treatment for the nav
.page--school-subsection .sticky-header {
  @include breakpoint(large) {
    @include large-header;
    @include large-main-menu;
    @include large-audience;
    @include large-accessible-menu;
    @include large-utility;
    @include large-search;
  }
}