////
/// @group menus
/// Main menu styles.
////

/// All Breakpoints
/// ---------------
.main-menu {
  li,
  a {
    display: block;
  }

  a {
    color: $white;
    font-family: $sans-serif;
    font-size: rem-calc(18);
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }

  .menu-item--active-trail > a {
    // Always use the active trail color.
    text-decoration: underline;
  }
  
  ul ul {
    display: none;
  }
}

/// Condensed Main Menu
/// -----------------------
@mixin condensed-main-menu() {
  .main-menu {
    padding: rem-calc(0 30);
    background: $white;
    .menu-item--active-trail > a {
      // Always use the active trail color.
      text-decoration: underline;
    }
    /// All Levels
    /// ----------
    ul {
      width: 100%;
    }

    > ul > li + li a {
      border-top: rem-calc(1) solid $medium-gray;
    }
    
    li.menu-item--open + li a:before,
    li.menu-item--open li:first-child a:before {
      display: none;
    }

    a {
      padding: rem-calc(14 0);
      text-align: left;
      font-size: rem-calc(15);
      position: relative;
      color: $text-color;
    }


    /// Second Level
    /// ------------
    ul ul {
      a {
        background-color: $light-gray;
        font-size: rem-calc(16);
        padding: rem-calc(10 15);
        font-weight: 400;
        border-left: solid rem-calc(2) $accent-yellow;
      }
    }
  }
}
// --------

/// Large Main Menu
/// -----------------
@mixin large-main-menu() {
  .main-menu {
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100vw;
      width: 250vw;
      top: 0;
      background: $primary-color;
    }
    /// All Levels
    /// ----------
    ul {
      display: flex;
      width: 100%;
    }

    li {

      &:hover {

        > a {
          background-color: $primary-color--dark;
        }

        > ul {
          display: block;
        }
      }
    }

    a {
      padding: rem-calc(13 20);
      text-align: center;
      background-color: $primary-color;
    }

    /// Second Level
    /// ------------
    ul {

      // Change the number here to include more right side dropdowns.
      > li:nth-last-child(-n+1) > ul {
        right: 0;
      }

      ul {
        position: absolute;
        display: none;
        width: auto;
        min-width: 16rem;
        background-color: $gray;
        padding: rem-calc(10 30);
        
        li:hover > a {
          color: $accent-yellow;
          background: none;
        }
        
        li:not(:last-child) a {
          border-bottom: rem-calc(1) solid rgba( $gray--light, .14 );
          margin-bottom: rem-calc(5);
        }

        a {
          padding: rem-calc(10 0);
          text-align: left;
          color: $white;
          font-size: rem-calc(16);
          font-weight: normal;
          background: none;
          
          &:focus {
            color: $accent-yellow;
          }
        }
      }
    }
  }
}
/// -----------
