////
/// @group menus
/// Sidebar menu styles.
////

/// All Breakpoints
/// ---------------
.sidebar-menu {
  font-family: $sans-serif;
  font-size: rem-calc(16);
  line-height: 1.3;
  margin-bottom: rem-calc(40);

  &__container {
    @include margins-top(20,0,0);
  }

  ul > li:not(:last-child) a {
    border-bottom: rem-calc(1) solid $medium-gray;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li li a {
    padding: rem-calc(10 30 10 20);
    background: $gray--light;
  }
  li a {
    position: relative;
    display: block;
    padding: rem-calc(13 30 13 0);
    transition: background-color $primary-transition;
    color: $text-color;

    &:hover {
      color: $brand-red;
    }
  }

  &__toggle {
    display: none;
  }

  .li--level-one > .menu-item__button {
    height: rem-calc(48);
  }

  .menu-item {

    &__button {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      width: rem-calc(40);
      height: rem-calc(42);
      margin: 0;
      transform: none;
      opacity: 1;
      line-height: 1.6;
      font-size: 0;
      text-align: right;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        outline: none;
      }

      &:before {
        font-family: $font-awesome;
        content: fa-content($fa-var-chevron-right);
        font-size: rem-calc(13);
        color: $brand-red;
        text-align: center;
      }
    }

    &--expanded > ul {
      display: none;

      // When JavaScript doesn't load for some reason, show all items.
      :root:not(.oho-js) & {
        display: block;
      }
    }

    &--active-trail {
      > ul {
        display: block;
      }
      > a {
        font-weight: 600;
        color: $brand-red;
      }
    }

    &--open {

      > .menu-item__button:before {
        color: $brand-gray;
        content: fa-content($fa-var-chevron-down);
      }
    }
  }

  /// Mobile
  /// ------
  @include breakpoint(small down) {
    border: 1px solid $light-gray;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);

    &__toggle {
      position: relative;
      display: block;
      width: 100%;
      margin: 0;
      transition: color $primary-transition;
      color: $primary-color;
      border: 0;
      background: #fff;
      text-align: left;
      letter-spacing: 0;
      text-transform: none;
      color: $text-color;
      margin-bottom: 0 !important;
      padding-right: rem-calc(45);

      &:after {
        @include fa-icon();
        position: absolute;
        top: 50%;
        right: rem-calc(20);
        content: fa-content($fa-var-chevron-down);
        transform: translateY(-50%);
        font-family: $font-awesome;
        font-size: rem-calc(13);

        .sidebar-menu-open & {
          content: fa-content($fa-var-chevron-up);
        }
      }

      &:hover {
        color: $primary-color--dark;
        background: none;
      }
    }

    &__container {
      display: none;
      padding: rem-calc(0 20 10 20);
    }
  }

  /// Desktop
  /// -------
  @include breakpoint(medium) {

    &__container {
      // Override any inline style set by jQuery's animations.
      display: block !important; // stylelint-disable-line
    }
  }
}

/// Border Levels
/// -------------

// A mixin to create border padding selectors.
// Set depth to the maximum number of visible levels to avoid extra output.
@mixin border-levels($depth) {
  $selector: '';

  @for $i from 0 through $depth {

    & #{$selector} a {
      border-left-width: rem-calc(1) * $i;
    }
    $selector: append($selector, #{' li'}); // stylelint-disable-line
  }
}

.sidebar-menu--border-levels {

  li {
    @include border-levels(3);

    a {
      border: 0 solid $accent-yellow;
    }
  }
}

/// Padding Levels
/// --------------

// A mixin to create padding selectors.
// Set depth to the maximum number of visible levels to avoid extra output.
@mixin padding-levels($depth) {
  $selector: '';

  @for $i from 0 through $depth {

    & #{$selector} a {
      padding-left: 1em + (1em * $i);
    }
    $selector: append($selector, #{' li'}); // stylelint-disable-line
  }
}

.sidebar-menu--padding-levels {

  li {
    @include padding-levels(3);
  }
}

/// UL Levels
/// ---------
.sidebar-menu--ul-levels {
  border: 0;

  ul {
    padding-left: 1em;
    border-left: 1px solid $primary-color;
  }

  a {
    padding-left: 0;
  }
}
