{#
  /**
   * Template to display the sticky header link buttons at the top of the page
   */
#}


<div class="grid-container">
    <a class="btn" href="https://library.iit.edu/help">Need Help?</a> 
    <a class="btn" href="https://iit.libcal.com/hours/">Library Hours</a> 
    <a class="btn" href="/quick-links">Quick Links</a>
</div>
