{#
  /**
   * Template to display the Illinois Tech footer at the bottom of the page
   */
#}


<div class="grid-container">
    <div class="grid-x grid-margin-x">

        <div class="cell initial-12 medium-6 initial-order-1">
            <a class="site-footer__logo" href="/">
                <img src="/themes/custom/galvin2/images/footer-logo.svg" width="425" height="33" alt='Illinois Institute of Technology Logo'>
            </a>
        </div>

        <div class="cell initial-12 medium-3 medium-auto initial-order-2 site-footer__contact-column medium-order-3">
            <h2 class="eyebrow">Contact</h2>
            <div class="site-footer__contact">
                <p><strong>10 West 35th Street<br />
                        Chicago, IL 60616</strong></p>
                <p class='phone'><i class='fi flaticon-phone'></i><span>312.567.3000</span></p>
                <p><a href="https://www.iit.edu/about/contact-us">Contact Us</a></p>
            </div>
        </div>

        <div class="cell initial-12 medium-6 site-footer__social-media-column initial-order-3 medium-order-2">
            <div class="site-footer__social-media">
                <h2 class="show-for-sr">Social Media Links</h2>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/illinoistech/" target="_blank" aria-label="Opens in a new window">
                            <span class="show-for-sr">Facebook</span>
                            <i class="fab fa-facebook-square"></i>


                        </a>
                    </li>
                    <li><a href="https://www.instagram.com/illinoistech/" target="_blank" aria-label="Opens in a new window">
                            <span class="show-for-sr">Instagram</span>
                            <i class="fab fa-instagram"></i>


                        </a>
                    </li>
                    <li><a href="https://www.linkedin.com/school/illinois-institute-of-technology/" target="_blank" aria-label="Opens in a new window">
                            <span class="show-for-sr">LinkedIn</span>
                            <i class="fab fa-linkedin"></i>


                        </a>
                    </li>
                    </li>
                    <li><a href="https://twitter.com/illinoistech" target="_blank" aria-label="Opens in a new window">
                            <span class="show-for-sr">Twitter</span>
                            <i class="fab fa-square-x-twitter"></i>


                        </a>
                    </li>
                    <li><a href="https://www.youtube.com/user/IITToday" target="_blank" aria-label="Opens in a new window">
                            <span class="show-for-sr">YouTube</span>
                            <i class="fab fa-youtube-square"></i>


                        </a>



                </ul>


            </div>
        </div>

        <div class="cell initial-12 medium-3 site-footer__campus-column initial-order-4">
            <div class="site-footer__campus">
                <h2 class="eyebrow">Campus</h2>
                <ul>
                    <li>
                        <a href="https://web.iit.edu/emergency">Emergency Information</a>

                    </li>
                    <li>
                        <a href="https://web.iit.edu/human-resources/careers">Employment</a>

                    </li>
                    <li>
                        <a href="https://alumni.iit.edu/">Alumni</a>

                    </li>
                </ul>

            </div>
        </div>

        <div class="cell initial-12 medium-3 site-footer__web-links-column initial-order-4">
            <div class="site-footer__web-links">
                <h2 class="eyebrow">Web Links</h2>
                <ul>
                    <li>
                        <a href="https://www.iit.edu/privacy">Privacy</a>

                    </li>
                    <li>
                        <a href="https://www.iit.edu/dmca-notice">Copyright Concerns</a>

                    </li>
                    <li>
                        <a href="http://complaints.ibhe.org/">IBHE Online Complaint System</a>

                    </li>
                    <li>
                        <a href="https://web.iit.edu/student-affairs/forms-and-information">Student Complaint Information</a>

                    </li>
                    <li>
                        <a href="https://web.iit.edu/student-affairs/handbook/fine-print/policies-regulations-and-procedures#section-j">Student Non-Discrimination Policy</a>

                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>
