
{#
  /**
   * Template to display the audience menu block.
* This custom template adds classes to the nav, ul, and li elements, and generates the dropdown button used to show/hide the menu.
   */
#}
<nav id="audience-menu" class="dropdown audience-menu accessible-menu" data-item-open-text="Open the %s menu" data-item-close-text="Close the %s menu">
  <ul class="dropdown menu" data-dropdown-menu data-closing-time=0>
    <li class="menu-item--expanded" id="audience-menu-dropdown" data-toggler=".menu-item--open">
      <span data-toggle="audience-menu-dropdown">{{ 'Resources for'|t }}...</span>
        <button class="menu-item__button" data-toggle="audience-menu-dropdown">Open the Resources for... menu</button>
      {% block content %}
        {{ content }}
      {% endblock %}
    </li>
  </ul>
</nav>
