{#
  /**
   * Template to display the gray Galvin Library contact block.
   */
#}

<div class="field-item">
    <div class="section-contact-panel">
        <div class="grid-container section-contact-panel__inner">
            <h2>Paul V. Galvin Library</h2>

            <div class="grid-x">
                <div class="cell initial-12 medium-9 "><span class="section-contact-panel__inner-add">35 West 33rd Street | Chicago, IL | 60616 </span>

                    <div class="section-contact-panel__detail"><span class="section-contact-panel__detail__item"><i class="fi flaticon-phone"></i><span>312.567.6847</span> </span> <span class="section-contact-panel__detail__item person-email"> <i class="fas fa-envelope"></i> <span class="email"><a href="mailto:library@iit.edu">library@illinoistech.edu</a><span> </span> </span></span></div>
                </div>

                <div class="cell initial-12 medium-3"><span class="section-contact-panel__inner__social-media">Follow Us</span>

                    <ul class="social-media">
                        <li><a aria-label="Opens in a new window" href="https://www.facebook.com/GalvinLibrary" target="_blank"><span class="show-for-sr">Facebook</span> <i class="fab fa-facebook-square"></i>
                            </a></li>
                        <li><a aria-label="Opens in a new window" href="https://instagram.com/galvinlibrary" target="_blank"><span class="show-for-sr">Instagram</span><i class="fab fa-instagram"></i> </a></li>

                        <li><a aria-label="Opens in a new window" href="https://www.youtube.com/channel/UCyHQBExca86rbDXgrvC66fQ" target="_blank"><span class="show-for-sr">YouTube</span> <i class="fab fa-youtube-square"></i> </a></li>
                        <li><a aria-label="Opens in a new window" href="https://www.tiktok.com/@galvinlibrary" target="_blank"><span class="show-for-sr">TikTok</span> <i class="fab fa-tiktok"></i> </a></li>

                    </ul>
                </div>

                <div class="cell initial-12 medium-9 affiliate-logos"><a aria-label="Opens in a new window" href="https://bmrc.lib.uchicago.edu/" target="_blank"><img alt="Black Metropolis Research Consortium" src="/themes/custom/galvin2/images/BMRC2024.png" /></a> <a aria-label="Opens in a new window" href="https://chicagocollections.org/" target="_blank"><img alt="Chicago Collections" src="/themes/custom/galvin2/images/CC_member_badge_color_175px.png" /></a> <a aria-label="Opens in a new window" href="https://guides.library.iit.edu/govdocs" target="_blank"><img alt="Federal Depository Library Program" src="/themes/custom/galvin2/images/fdlp-emblem-color.png" /> </a></div>
                <div class="cell initial-12 medium-3 staff-resources"">
                  
                  <p><a  href=" https://iit.libanswers.com/common/faq/351180?m=p">Library Staff Resources Page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
