{#
  /**
   * Template to display the UASC finding aids search block at /uasc.
   */
#}

<div id="block-uascsearch-2">
    <div class="grid-container">
<h2>University Archives and Special Collections</h2>

<form action="https://findingaids.library.iit.edu/search" method="get" target="_blank">
<div class="archivesspace-search-box"><input name="q[]" placeholder="Search archival collections" type="text" /><input name="utf8" type="hidden" value="✓" /><input name="op[]" type="hidden" value="" /><input class="search-button" type="submit" value="" /></div>
</form>
        <a class="browsefa-link button" href="https://findingaids.library.iit.edu">Browse all finding aids</a></div></div>