{#
  /**
   * Template to display the UASC info boxes on /uasc.
   */
#}


<div id="block-uascboxes-2">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell initial-12 medium-4">
                <h4>Quick Links</h4>

                <ul>
                    <li><a href="https://findingaids.library.iit.edu/">Finding Aid Portal</a></li>
                    <li><a href="https://repository.iit.edu/uasc">Digitized Archival Material</a></li>
                    <li><a href="https://guides.library.iit.edu/c.php?g=932235">UASC Guides</a></li>
                </ul>
            </div>

            <div class="cell initial-12 medium-4">
                <h4>Contact</h4>

                <p><a class="email" href="mailto:archives@illinoistech.edu">archives@illinoistech.edu</a></p>
                <p><a class="phone" href="tel:312-567-5993">312.567.5993</a></p>
            </div>

            <div class="cell initial-12 medium-4">
                {{ drupal_view('today_s_uasc_hours', 'block_3') }}
                <span>Open Monday-Thursday, 1-5pm</span><br>
                <apan>Other hours by appointment</span>
                    <!-- <h4>Open Hours</h4>

                <p>Monday - Thursday</br> 1:00pm - 5:00pm</p>
                <p>Other hours by appointment</p> -->
            </div>
        </div>
    </div>
</div>
