{#
  /**
   * Template to display the search block on the front page of the site. This block provdes the container elements for the search. The actual search bar is controlled by * the javascript found in the location below in the script tag
   */
#}

<div id="block-primosearchblock">

    <p>
        <meta charset="utf-8" />
    </p>

    <p>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    </p>
    <title></title>
    <link href="https://unpkg.com/normalize.css@8.0.0/normalize.css" rel="stylesheet" /><noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div class="grid-container">
        <div id="ual-primo-search">&nbsp;</div>
    </div>
    <script src="https://library.iit.edu/primo-search/dist/ual-primo-search.js"></script>

    {{ drupal_entity('block', 'galvin2_quickinfoblock_2') }}

</div>
