{#
  /**
   * Template to display the block of links contact information located below the Primo search bar on the front page and on the Need Help page
   */
#}


<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <section id="quickinfoblock" class="cell initial-12 block">

            <h5 class="block-title">Need Help?</h5>
            <p class="contact">
                <span><a class="phone" href="tel:13125677552">312.567.7552</a></span> <span><a class="email" href="mailto:library@iit.edu">library@iit.edu</a></span>
            </p>
            <p class="contact">
                <span> <a class="chat" href="https://iit.libanswers.com/chat/widget/1c65d74a470c3d6f88cbf3c3dfef1130">Chat with a Librarian</a></span>

                <span><a class="suggestion" href="https://docs.google.com/forms/d/e/1FAIpQLSfLQwgc3EFAoZa7Oon4KfNewg9KtXELXZSf6DZUAiCca-ZKEg/viewform">Make a Suggestion</a></span>
            </p>

            <div id="quick-links">

                <a href="https://guides.library.iit.edu">Research Guides</a>

                <a href="https://iit.libanswers.com/">FAQ</a>

                <a href="https://i-share-iit.primo.exlibrisgroup.com/discovery/account?vid=01CARLI_IIT:CARLI_IIT">Manage Library Account</a>

                <a href="https://i-share-iit.primo.exlibrisgroup.com/discovery/search?tab=NewDiscoveryNetwork&amp;search_scope=NewDiscoveryNetwork&amp;vid=01CARLI_IIT:CARLI_IIT&amp;lang=en&amp;offset=0">IIT/I-Share Catalog</a>

                <a href="https://838.account.worldcat.org/profile">MyILL</a>

                <a href="/subject-specialties">Find a Subject Specialist</a>

                <a href="https://iit.libanswers.com/faq/339448">Find Textbooks</a>

                <a href="/reserve-a-space">Reserve a Space</a>

                <a href="https://iit.libcal.com/calendar/galvin?cid=15062&t=g&d=0000-00-00&cal=15062&inc=0">Library Events and Classes Calendar</a>

            </div>
        </section>
    </div>
</div>
