{#
  /**
   * Template to override the block display of staff directory view.
* This custom template adds Foundation grid classes and other theme related classes around the view content.
   */
#}



    {% if header %}
    <header>
        {{ header }}
    </header>
    {% endif %}

<div class="grid-container">
<div class="cell initial-12 medium-9 medium-order-3 tiny-order-2 global-spacing detail-page--faculty__sidebar-column">
    
     {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
    
    </div>
   {% if footer %}
    <footer>
        {{ footer }}
    </footer>
    {% endif %}
</div>


 