////
/// @group components-micro
/// Styles for buttons.
////

.btn {
  @include btn;

  &--light {
    color: mediumpurple;
    background: $white;

    &:hover {
      color: $white;
    }
  }
}

.full-wysiwyg,
.cke_editable {

  .elf-external {
    @include fi(after);

    &:after {
      content: $flaticon-external-alt;
      margin-left: 8px;
      font-size: rem-calc(13);
      display: inline;
      @include breakpoint(large up) {
        font-size: rem-calc(15);
      }
    }
  }

  [href*='.pdf'],
  [href*='.docx'],
  [href*='.doc'],
  [href*='.txt'] {
    @include fi(after);

    &:after {
      display: inline;
      content: $flaticon-download-alt;
      margin-left: 8px;
    }
  }

  .btn {
    min-height: rem-calc(50);
  }
}

.btn--white {
  background: $white;
  color: $dark-gray;
  &:hover {
    background: $dark-gray;
    color: $white;
  }
}

[data-embed-button="ohou_media_embed"] {
//  margin-bottom: rem-calc($spacing--small);
  [data-embed-button="ohou_media_embed"] {
    margin-bottom: 0;
  }
}

.btn--centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%) !important;
}