<div class="cell initial-12 medium-4 sequence-anim-item fade-slide-from-left">
  <article class="event-item">
    <div class="event-item__content">
      {{ content.field_event_date }}
      <div class="event-item__content__inner">
        <h3 class="arrow-link "><a href="{{ url }}">{{ node.label }}</a></h3>
      </div>
    </div>
  </article>
</div>
