{% if event_listing %}
  <section class="grid-container global-spacing--large section--events-feature sequence-anim-parent">
    <div class='global-spacing--small'>
      {% include '@iit/includes/lined-section-heading.html.twig' with {
        title: content.field_component_title,
        link_field: content.field_component_link
      } %}
    </div>

    <div class="grid-x grid-margin-x">
      {{ event_listing }}
    </div>
  </section>
{% endif %}
