<section class='section--background section--background--gray--light section--specializations global-spacing--xlarge'>
  <div class='grid-container'>
    <div class='section-heading global-spacing--medium'>
      <h2>{{ content.field_component_title }}</h2>
    </div>

    <div data-delay='150' class='grid-x grid-margin-x sequence-anim-parent'>
      {{ content.field_teaser_items }}
    </div>
  </div>
</section>
