<section class="section--testimonial global-spacing--xlarge">
  <div class="grid-container">
    <div class="slideshow-container">
      <div class="slideshow-container__track">
        <div class="slideshow-container__slides">
          {{ content.field_testimonials }}
        </div>
      </div>
    </div>
  </div>
</section>
