<div class="cell initial-12 medium-4">
  <article class="card card--unbounded">
    <div class="card__media">
      {{ content.field_component_image }}
    </div>
    <div class="card__content">
      <div class="card__content__inner full-wysiwyg">
        <h3 class="arrow-link">{{ content.field_component_title_link }}</h3>
        {{ content.field_component_body }}
      </div>
    </div>
  </article>
</div>
