<section class='section--body section--wysiwyg global-spacing--xlarge'>
  <div class='grid-container'>
    <div class='section--body__container section--wysiwyg__container'>
      <article class="clearfix full-wysiwyg">
        {{ content.field_component_body }}
      </article>
    </div>
  </div>
</section>
