<div id="block-galvin-islandora-learnmore"><div id="learnmore-links">
    <h4>Learn More</h4>
    <a href="policy#what">What can I deposit?</a>
    <a href="policy#how">How do I deposit my work?</a>
    <a href="policy#copyright">What about copyright?</a>
    <a href="policy">FAQ</a>
    </div></div>