<div id="block-galvin-islandora-learnmore">
    <div id="learnmore-links">
        <h3>Learn More</h3>

        <a href="policy#what">What can I deposit?</a>
        <a href="policy#how">How do I deposit my work?</a>
        <a href="policy#copyright">What about copyright?</a>
        <a href="policy">FAQ</a>
    </div>
</div>
