{#
  /**
   * Template to display the sticky header link buttons at the top of the page
   */
#}


{# <div class="grid-container"> #}
    <a class="btn" href="https://repository.iit.edu/policy">About</a> 
    <a class="btn" href="https://repository.iit.edu/submission">Submit</a> 
{# </div> #}
