{#
  /**
   * Template to display the utility menu block.
* This custom template adds the id and class to the nav element
   */
#}
<nav id="utility-menu" class="utility-menu">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
