
{#
  /**
   * Template to display the hero region.
* This custom template orders the elements for the individual parts of the hero region on the front page and at /uasc.
   */
#}

<section class="hero global-spacing--xlarge hero--img">
    <div class="hero__media"></div>
    <div class="hero__overlay" aria-hidden="true"></div>
        <div class="hero__content">
    <div class="hero__content__inner">
     
{{ content }}
          </div>

      </div>
</section>