////
/// @group variables
/// Site-wide colors.
////

/// Color Definitions
/// -----------------

/// White and black. Using variables because sometimes these can be slightly
/// lighter or darker than the absolute values, on a per-project basis.
/// @type Color
$white: #ffffff;
$black: #000000;

/// The theme grays.
/// @type Color
$gray: #444444;
$gray--dark: #222222;
$gray--light: #F4F4F4;
$gray--alt: #D8D8D8;

/// The theme primary colors.
/// @type Color
$primary-color: #CC0000;
$primary-color--dark: #610000;
$primary-color--light: lighten($primary-color, 10%);

/// Theme accent colors.
/// @type Color
$accent-green: #8dc63f;
$accent-orange: #fe5000;
$accent-red: #C00;
$accent-yellow: #FF9900;

/// Theme message colors.
/// @type Color
$message-success: #3c763d;
$message-alert: #a94442;

/// Color Aliases
/// -------------
$link-color: $primary-color;
$section-background: $gray--dark;
$section-background--red: $primary-color;
//$section-background--gray: $gray--light;
$section-background--gray--light: $gray--light;

/// IIT Colors
/// ----------
$brand-red: $primary-color;
$brand-yellow: $accent-yellow;
$brand-gray: #76777B;
$dark-gray: $gray--dark;
$medium-gray: #E4E4E4;
$light-gray: $gray--light;

/// The color of text.
/// @type Color
$text-color: $dark-gray;