////
/// @group global
/// Base styles for common elements.
////

/// Elements Base Styles
/// --------------------
* { // stylelint-disable-line
  box-sizing: border-box;
}

/// @todo Is this still needed?
html {
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: $text-color;
  font-family: $sans-serif;
  line-height: 1.4;
  font-weight: 400;
  @include font-sizes(16,17,17);
  @include breakpoint(medium) {
    line-height: 1.75;
    }
}

.page {
  overflow: hidden;
}

#main-content {
  @include breakpoint(medium up) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.main-content {
  width: 100%;
}
// IE 11 missing UA styles fix.
main {
  display: block;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

figure {
  margin: rem-calc(0 0 40 0);
}

figcaption {
  margin-top: .5em;
  caption-side: bottom;
  color: $gray--dark;
  font-family: $sans-serif;
  @include font-sizes(14,16,16);
  color: #444444;
  letter-spacing: 0;
  line-height: 1.4;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

/// Margin and padding resets
/// -------------------------
dl,
pre {
  margin: 0;
  padding: 0;
}

/// Helper Classes
/// -------
.clearfix {
  @include clearfix;
}

.show-for-sr,
.visually-hidden {
  @include show-for-sr;
}

.play {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: rem-calc(54);
  height: rem-calc(54);
  margin: auto;
  border: rem-calc(3) solid #fff;
  &__triangle {
    fill: #fff;
  }
  &__background {
    fill: $brand-yellow;
    transition: fill .8s ease;
  }
}

a:hover .play__background,
a:focus .play__background {
  fill: $brand-red;
}

iframe {
  border: none;
  max-width: 100%;
}

.grid-x--align-bottom {
  align-items: flex-end;
}

.page--webform .main-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.full-wysiwyg.media-embed--video {
  min-width: 0;
}
